// Standard Button für die ganze Website
.default-button {
  margin: 16px 0px;
  padding: 8px 16px;
  background-color: transparent;
  // border: 2px solid var(--accent-color);
  // background: transparent;
  color: #ffffff;
  transition: background-color 0.3s;
  border-radius: 45px;
  height: 45px;
  font-family: var(--font-family-second);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  // font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  // display: block;
  appearance: auto;
  padding-block: 1px;
  // padding-inline: 6px;
  border-width: 1px;
  border-style: double;
  border-color: #ffffff;
  border-image: initial;
}

.default-button:hover {
  border: 0.5px solid;
  border-color: #2EE59D;
  // background-color: #00e699;
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: var(--primary-color);
  font-weight: bold;
  transform: translateY(-7px);
}

// .primary-button {
//   background: var(--accent-color);
//   color: #ffffff;
// }

// .primary-button:hover {
//   background: #ffffff;
//   color: var(--accent-color);
// }

/* Example for a primary button – "aufbauend" auf default-button */
.primary-button {
  @extend .default-button; 
  // background-color: var(--accent-color);
  background: transparent;
  color: #ffffff;
  // border: none;
  border-color: #ffffff;
  border: 1px solid;

  &:hover {
    background-color: transparent;
    box-shadow: none;
    color: var(--accent-color);
    transform: translateY(-7px);
  }
}

/* Example for a next button – minimaler Rand, Pfeil-Icon etc. */
.next-button {
  @extend .default-button;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-weight: bold;

  &:hover {
    background-color: transparent;
    border: none;
    color: var(--accent-color);
    box-shadow: none;
    transform: translateX(4px);
  }
}

// Media Queries und Responsiveness

/* Mobile Ansicht - bis 320px */
@media (min-width: 240px) and (max-width: 320px) {
  .developer-section {
    padding: 16px 8px; /* Weniger Padding für kleine Geräte */
    background-size: contain; /* Verhindert abgeschnittene Bereiche */
  }

  .default-button {
    display: block; /* Block-Level für zentrierte Darstellung */
    width: 100%; /* Füllt den verfügbaren Raum aus */
    text-align: center; /* Text zentrieren */
    margin: 16px auto; /* Zentrieren mit Auto-Margin */
    margin-top: 32px;
  }

  .primary-button {
    margin-top: 8px;

    &:hover {
      background-color: transparent;
      box-shadow: none;
      color: var(--accent-color);
      transform: none;
    }
  }

  .next-button {
    margin-top: 8px;
  }
}

/* Mobile Ansicht - bis 480px */
@media (min-width: 321px) and (max-width: 480px) {
  .developer-section {
    padding: 16px 8px; /* Weniger Padding für kleine Geräte */
    background-size: contain; /* Verhindert abgeschnittene Bereiche */
  }

  .default-button {
    display: block; /* Block-Level für zentrierte Darstellung */
    width: 100%; /* Füllt den verfügbaren Raum aus */
    text-align: center; /* Text zentrieren */
    margin: 16px auto; /* Zentrieren mit Auto-Margin */
    margin-top: 32px;
    font-size: 16px;
    // font-weight: bold;
  }

  .primary-button {
    margin-top: 8px;
    font-size: 12px;

    &:hover {
      background-color: transparent;
      box-shadow: none;
      color: var(--accent-color);
      transform: none;
    }
  }

  .next-button {
    margin-top: 8px;
    font-size: 12px;
  }
}

/* Mobile Ansicht - bis 767px */
@media (min-width: 481px) and (max-width: 767px) {
  .developer-section {
    padding: 16px 8px; /* Weniger Padding für kleine Geräte */
    background-size: contain; /* Verhindert abgeschnittene Bereiche */
  }

  .default-button {
    display: block; /* Block-Level für zentrierte Darstellung */
    width: 100%; /* Füllt den verfügbaren Raum aus */
    text-align: center; /* Text zentrieren */
    margin: 16px auto; /* Zentrieren mit Auto-Margin */
    margin-top: 32px;
    font-size: 16px;
    // font-weight: bold;
  }

  .primary-button {
    margin-top: 12px;
    font-size: 14px;

    &:hover {
      background-color: transparent;
      box-shadow: none;
      color: var(--accent-color);
      transform: none;
    }
  }

  .next-button {
    margin-top: 12px;
    font-size: 14px;
  }
}

/* Mobile Ansicht - bis 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .developer-section {
    padding: 16px 8px; /* Weniger Padding für kleine Geräte */
    background-size: contain; /* Verhindert abgeschnittene Bereiche */
  }

  .default-button {
    display: block; /* Block-Level für zentrierte Darstellung */
    width: 50%; /* Füllt den verfügbaren Raum aus */
    text-align: center; /* Text zentrieren */
    margin: 16px auto; /* Zentrieren mit Auto-Margin */
    margin-top: 32px;
    font-size: 17px;
    // font-weight: bold;
  }

  .primary-button {
    width: 100%;
    margin-top: 12px;
    font-size: 14px;

    &:hover {
      background-color: transparent;
      box-shadow: none;
      color: var(--accent-color);
      transform: none;
    }
  }

  .next-button {
    width: 100%;
    margin-top: 12px;
    font-size: 14px;
  }
}

/* Mobile Ansicht - bis 1366px */
@media (min-width: 1025px) and (max-width: 1366px) {
  .developer-section {
    padding: 16px 8px; /* Weniger Padding für kleine Geräte */
    background-size: contain; /* Verhindert abgeschnittene Bereiche */
  }

  .default-button {
    display: block; /* Block-Level für zentrierte Darstellung */
    width: 50%; /* Füllt den verfügbaren Raum aus */
    text-align: center; /* Text zentrieren */
    margin: 16px auto; /* Zentrieren mit Auto-Margin */
    margin-top: 32px;
    font-size: 18px;
    // font-weight: bold;
  }
}

