// @import '../styles.scss'; // Importiere globale Variablen und Fonts

// .container {
//     max-width: 1921px;
//     margin: 0 auto; // Zentriert den Inhalt horizontal im Viewport
//     padding: 0 32px; // Fügt 32px Padding links und rechts zum Container hinzu
//   }

.about-me {
//   background-color: var(--primary-color); // Hintergrundfarbe für die Sektion
  padding: 64px 32px; // Außenabstände für die Sektion
  max-width: 1921px;
  margin: 0 auto; // Zentriert den Container innerhalb des Viewports

  .about-me-content {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-evenly;
    justify-content: space-around;
    padding: 64px 32px;
    gap: 64px; // Abstand zwischen Bild und Textbereich
    // align-items: center;
    // max-width: 1200px; // Maximale Breite des Inhalts
    // margin: 0 auto;

    .about-me-image-wrapper {
        position: relative; // Wichtig für die Positionierung der Vektor-Grafik
        display: flex;
        justify-content: center;

        .about-me-image {
            // display: flex;
            // justify-content: center;
            position: relative;
            // flex: 1;

            img { 
              // Maximal 568px für das about me Bild
                width: 480px;
                height: 480px;
                // width: 100%;
                // max-width: 568px;
                border-radius: 32px; // Abrundung der Ecken, wie im Screenshot
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); // Leichtes Schatten für ein plastisches Erscheinungsbild
                transition: transform 0.3s ease-in-out; // Hinzufügen eines leichten Zoom-Effekts für das Bild beim Hover
                margin-left: 0px;
                margin-bottom: 40px;
            }

            // Hover Effekt für das Bild (Skalieren)
            &:hover img {
                transform: scale(1.05); // Bild leicht vergrößern
            }

            // Vektor-Hintergrund hinzufügen
            .vector-background {
                // background-color: tomato;
                position: absolute;
                top: 0;
                left: -40px;
                right: 0;
                bottom: 180px;
                // background-image: linear-gradient(135deg, rgba(0, 255, 174, 0.5) 0.5px, transparent 0.5px);
                // background-size: 10px 10px;
                background-image: url('./../../../public/vectors/img-bg-vector.svg'); // Verwende hier den richtigen Pfad zur SVG-Datei
                background-size: cover; // SVG-Grafik soll den gesamten Bereich abdecken
                border-radius: 16px; // Passend zum Bild
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                z-index: -1; // Damit der Hintergrund hinter dem Bild bleibt
            }
    
            // Hover-Effekt
            &:hover .vector-background {
                opacity: 1; // Zeigt die Vektor-Grafik beim Hover an
            }
            // img {
            //     transform: scale(1.05); // Leichter Zoom-Effekt für das Bild, um den Hover hervorzuheben
            //   }
        }
    }

    .about-me-box {
        background-color: rgba(0, 255, 174, 0.1);
        box-shadow: 0px 8px 20px rgba(0, 255, 174, 0.2);
        border: solid 2px;
        border-color: var(--accent-color);
        width: 568px;
        height: 578px;
        border-radius: 32px;
        padding: 32px;
        padding-top: 16px;
        padding-bottom: 40px;
        gap: 40px;
    }

    .about-me-text {
    //   flex: 2;
      color: #ffffff; // Weißer Text auf dunklem Hintergrund

      h2 {
        font-family: var(--font-family);
        color: var(--accent-color);
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 8px;
        margin-top: 8px;
      }

      h4 {
        font-family: var(--font-family-second);
        font-size: 24px;
        color: var(--accent-color);
        margin-bottom: 16px;
      }

      p {
        font-family: var(--font-family-second);
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 32px;
      }

      .about-me-highlights {
        list-style: none;
        padding: 0;
        margin: 0;

        li img {
            transition: transform 0.3s, background-color 0.3s;
          }
          
          li:hover img {
            transform: scale(1.1);
            // background-color: rgba(0, 255, 174, 0.3); // Eine leichtere Version des Accent-Farbtons
          }

        li {
          display: flex;
          align-items: flex-start;
          gap: 16px;
          margin-bottom: 24px;

          img {
            width: 32px;
            height: 32px; // Einheitliche Größe für alle Icons
          }

          span {
            font-family: var(--font-family-second);
            font-size: 18px;
            line-height: 1.5;
          }

          span:hover {
            color: var(--accent-color)
          }

        }
      }
    }
  }
}

// ****************************** MEDIA QUERIES *************************************
/* Media Queries: Standard (Desktop) Styles - ab 1024px sind alle Stile wie bisher. */

// Mobile Ansicht - bis 320px
@media (min-width: 240px) and (max-width: 320px) {
  .about-me {
    padding: 16px 8px; // Weniger Padding für kleine Geräte

    .about-me-content {
      flex-direction: column;
      padding: 32px 16px;
      gap: 24px;

      .about-me-image-wrapper {
        .about-me-image {
          img {
            width: 240px; // Kleinere Bildgröße
            height: auto;
            margin-left: 0px;
            // margin-bottom: 40px;
          }

          // Vektor-Hintergrund hinzufügen
          .vector-background {
            top: 0;
            left: -20px;
            right: 20px;
            bottom: 20px;
        }
        }
      }

      .about-me-box {
        width: 80%;
        height: auto;
        padding: 24px;

        li {
          flex-direction: column;
        }
      }

      .about-me-text {
        h2 {
          font-size: 32px;
        }
        h4 {
          font-size: 18px;
          margin-left: 8px;
        }
        p,
        .about-me-highlights li span {
          font-size: 14px;
        }
      }
    }
  }
}


// Mobile Ansicht - bis 480px
@media (min-width: 321px) and (max-width: 480px) {
  .about-me {
    padding: 24px 12px; // Weniger Padding für kleine Geräte

    .about-me-content {
      flex-direction: column;
      padding: 24px 12px;
      gap: 24px;

      .about-me-image-wrapper {
        .about-me-image {
          img {
            width: 240px; // Kleinere Bildgröße
            height: auto;
            margin-left: 0px;
          }

          // Vektor-Hintergrund hinzufügen
          .vector-background {
            top: 0;
            left: -20px;
            right: 20px;
            bottom: 20px;
          }
        }
      }

      .about-me-box {
        width: 80%;
        height: auto;
        padding: 32px;

        li {
          flex-direction: column;
        }
      }

      .about-me-text {
        h2 {
          font-size: 32px;
        }
        h4 {
          font-size: 18px;
          margin-left: 8px;
        }
        p,
        .about-me-highlights li span {
          font-size: 14px;      
        }
      }
    }
  }
}


// Tablet Ansicht - 481px bis 767px
@media (min-width: 481px) and (max-width: 767px) {
  .about-me {
    padding: 40px 24px;

    .about-me-content {
      flex-direction: column;
      padding: 32px 16px;
      gap: 32px;

      .about-me-image-wrapper {
        .about-me-image {
          img {
            width: 350px;
            height: auto;
            margin-left: 0px;
          }
          // Vektor-Hintergrund hinzufügen
          .vector-background {
            top: 0;
            left: -30px;
            right: 20px;
            bottom: 10px;
          }
        }
      }

      .about-me-box {
        width: 84%;
        height: auto;
        padding: 32px;

        li {
          flex-direction: column;
        }
      }

      .about-me-text {
        h2 {
          font-size: 40px;
        }
        h4 {
          font-size: 20px;
          margin-left: 8px;
        }
        p,
        .about-me-highlights li span {
          font-size: 16px;
        }
      }
    }
  }
}


// Big-Tablet Ansicht - 768px bis 1024px
@media (min-width: 768px) and (max-width: 1024px) {
  .about-me {
    padding: 64px 32px;

    .about-me-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 48px;

      .about-me-image-wrapper {
        .about-me-image {
          img {
            width: 480px;
            height: auto;
            margin-left: 0px;
          }
          // Vektor-Hintergrund hinzufügen
          .vector-background {
            top: 0;
            left: -40px;
            right: 20px;
            bottom: 0px;
          }
        }
      }

      .about-me-box {
        width: 90%;
        height: auto;
        padding: 40px;
      }

      .about-me-text {
        h2 {
          font-size: 48px;
        }
        h4 {
          font-size: 24px;
          margin-left: 8px;
        }
        p,
        .about-me-highlights li span {
          font-size: 17px;
        }
      }
    }
  }
}


// Big-Tablet oder Mini-Laptop Ansicht - 1025px bis 1366px
@media (min-width: 1025px) and (max-width: 1366px) {
  .about-me {
    padding: 80px 40px;

    .about-me-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 48px;

      .about-me-image-wrapper {
        .about-me-image {
          img {
            width: 480px;
            height: auto;
            margin-left: 0px;
          }
          // Vektor-Hintergrund hinzufügen
          .vector-background {
            top: 0;
            left: -50px;
            right: 20px;
            bottom: -10px;
          }
        }
      }

      .about-me-box {
        width: 92%;
        height: auto;
        padding: 40px;
      }

      .about-me-text {
        h2 {
          font-size: 48px;
        }
        h4 {
          font-size: 24px;
          margin-left: 8px;
        }
        p,
        .about-me-highlights li span {
          font-size: 17px;
        }
      }
    }
  }
}


// Laptop oder Desktop Ansicht - 1367px bis 1920px ? (Falls ich weitere Media Queries möchte)

// // Laptop oder Desktop Ansicht - ab 1367px
// @media (min-width: 1367px) {
//   .about-me {
//     padding: 64px;

//     .about-me-content {
//       flex-direction: row;
//       gap: 64px;

//       .about-me-image-wrapper {
//         .about-me-image {
//           img {
//             width: 568px;
//           }
//         }
//       }

//       .about-me-box {
//         width: 568px;
//         height: auto;
//         padding: 40px;
//       }

//       .about-me-text {
//         h2 {
//           font-size: 72px;
//         }
//         h4 {
//           font-size: 28px;
//         }
//         p,
//         .about-me-highlights li span {
//           font-size: 18px;
//         }
//       }
//     }
//   }
// }