<section id="about-me" class="about-me container">
    <div class="about-me-content">

        <!-- Wrapper um das Bild mit Hintergrundgrafik -->
        <div class="about-me-image-wrapper slide-in-left">  
            <div class="about-me-image">
                <img src="./../images/taironman.png" alt="Profilbild von Tayfun Savas Boas Aya alias Taironman">
                <div class="vector-background"></div>
            </div>
        </div>  

        <div class="about-me-text slide-in-right">
            <h4>{{'about.h4' | translate}}</h4>

        <div class="about-me-box fade-in">
            <h2>{{'about.h2' | translate}}</h2>
            <p>
                {{'about.description' | translate}}
            </p>
            <!-- <p>
                {{'about.description-location' | translate}}
            </p> -->
            <p>
                {{'about.description-core' | translate}}
            </p>
            <ul class="about-me-highlights">
            <li class="fade-in">
                <img src="/svg-icons/strengths/location_on.svg" alt="Icon für Flexibilität">
                <span>{{'about.benefit.flexibility' | translate}}</span>
            </li>
            <li class="fade-in">
                <img src="/svg-icons/strengths/cognition.svg" alt="Icon für Offenheit">
                <span>{{'about.benefit.openminded' | translate}}</span>
            </li>
            <li class="fade-in">
                <img src="/svg-icons/strengths/new_releases.svg" alt="Icon für Programmierung">
                <span>{{'about.benefit.excellence' | translate}}</span>
            </li>
            </ul>
        </div>
        </div>

        </div>

</section>
  
