.branding-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 32px;
    background-color: var(--primary-color);
    // min-height: 80vh;
    max-width: 1921px;
    margin: 0 auto;
    overflow: hidden;
  
    /* Hintergrundbild */
    background-image: url('/bg-images/bg-branding.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: 240px) and (max-width: 320px) {
    padding: 16px 8px;
    background-size: contain; /* Verhindert abgeschnittene Bereiche */
    }

  }

  .branding-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 255, 174, 0.3); /* Transparente Überlagerung */
    z-index: -1;
  } 
  
  .branding-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 64px 96px;
    gap: 64px;
  }
  
  .branding-text-area {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    // gap: 16px;
    text-align: left;
  
    h4 {
      font-family: var(--font-family-second);
      font-size: 24px;
      color: var(--accent-color);
      margin-bottom: 16px;
    }
  
    .branding-box {
        flex: 1 1 35%;
        background-color: rgba(0, 255, 174, 0.1);
        border: 2px solid var(--accent-color);
        border-radius: 32px;
        padding: 32px;
        box-shadow: 0 8px 20px rgba(0, 255, 174, 0.2);
        margin-bottom: 84px;

        @media (min-width: 240px) and (max-width: 320px) {
        padding: 24px 16px;
        margin-top: 8px;
        }

        @media (min-width: 321px) and (max-width: 480px) {
        padding: 24px;
        margin-top: 8px;
        }

        @media (min-width: 481px) and (max-width: 767px) {
        padding: 24px;
        margin-top: 8px;
        }

        @media (min-width: 768px) and (max-width: 1024px) {
        // padding: 32px;
        margin-top: 8px;
        }

        @media (min-width: 1025px) and (max-width: 1366px) {
        padding: 40px;
        margin-top: 8px;
        }
  
      h2 {
        font-family: var(--font-family);
        font-size: 64px;
        color: var(--accent-color);
        margin-top: 0;
        margin-bottom: 16px;

        @media (min-width: 240px) and (max-width: 320px) {
        font-size: 32px;
        }

        @media (min-width: 321px) and (max-width: 480px) {
        font-size: 32px;
        }
      
        @media (min-width: 481px) and (max-width: 767px) {
        font-size: 40px;
        }

        @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 48px;
        }

        @media (min-width: 1025px) and (max-width: 1366px) {
        font-size: 56px;
        }
      }

      h3 {
        font-family: var(--font-family);
        font-size: 24px;
        letter-spacing: 4px;
        // color: var(--accent-color);
        // margin-top: 16px;

        // @media (min-width: 240px) and (max-width: 320px) {
        // font-size: 28px;
        // }
      }
  
      p {
        font-family: var(--font-family-second);
        font-size: 18px;
        line-height: 1.6;
        color: #ffffff;

        @media (min-width: 240px) and (max-width: 320px) {
        font-size: 14px;
        }
        
        @media (min-width: 321px) and (max-width: 480px) {
        font-size: 16px;
        }
              
        @media (min-width: 481px) and (max-width: 767px) {
        font-size: 16px;
        }
        
        @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 17px;
        }
        
        @media (min-width: 1025px) and (max-width: 1366px) {
        font-size: 18px;
        }
      }
  
      .highlight span {
        color: var(--accent-color);
      }
  
      app-button {
        margin-top: 16px;
      }
    }
  }
  
  /* Skills Grid */
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    flex: 1 1 45%;
  }
  
  .icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    // padding-top: 32px;
    cursor: pointer;
  
    .vector-background {
      position: absolute;
      top: 0px;
      left: 10px;
      right: 10px;
      bottom: 0px;
      background-image: url('/vectors/img-bg-vector.svg');
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
      opacity: 0;
      z-index: 0;
      transition: opacity 0.3s ease-in-out;
    }
  
    img {
      width: 64px;
      height: 64px;
      transition: transform 0.3s ease-in-out;
      z-index: 1;
    }
  
    span {
      margin-top: 8px;
      font-family: var(--font-family-second);
      font-size: 15px;
      color: #ffffff;
      z-index: 1;
      transition: color 0.3s ease-in-out;
  
      &:hover {
        color: var(--accent-color);
      }
    }
  
    &:hover {
      .vector-background {
        opacity: 0.7;
      }
      img {
        transform: scale(1.1);
      }
    }
  
    .infobox {
      position: absolute;
      top: -180%;
      left: 50%;
      transform: translateX(-50%);
      width: 240px;
      background-color: rgba(13, 46, 35, 0.2);
      backdrop-filter: blur(10px);
      border: 2px solid var(--accent-color);
      border-radius: 16px;
      padding: 16px;
      box-shadow: 0 8px 20px rgba(0, 255, 174, 0.2);
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  
      &.visible {
        opacity: 1;
        visibility: visible;
      }
  
      h3 {
        font-family: var(--font-family);
        font-size: 18px;
        color: var(--accent-color);
        margin-bottom: 8px;
      }
  
      p {
        font-family: var(--font-family-second);
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 16px;
      }
  
      .infobox-icons {
        display: flex;
        justify-content: center;
        gap: 8px;
  
        img {
          width: 32px;
          height: 32px;
          border-radius: 8px;
        }
      }
    }
  }
  
/* Media Queries für verschiedene Bildschirmgrößen */

/* Mobile Ansicht - bis 320px */
@media (min-width: 240px) and (max-width: 320px) {
    .branding-section {
  
      .infobox {
      top: -80%;
      width: 90%;
      }
    }
  
    .branding-content {
      flex-direction: column-reverse;
      padding: 24px 16px;
      gap: 16px; /* Weniger Abstand zwischen den Elementen */
    }
  
    // Branding Technologie Headline
    .branding-text-area h4 {
      padding-left: 0px;
    //   margin-bottom: -24px;
      font-family: var(--font-family-second);
      font-size: 18px;
      color: var(--accent-color);
      // margin-bottom: 16px;
      padding-left: 0;
      text-align: center;
    }

    // Technische Probleme bei den Media Queries, irgendeine höhere Instanz blockiert, deshalb habe ich das Problem direkt mit ein konsistentes SCSS-Setup gelöst.
    .branding-box {
        // padding: 32px 16px;
        // margin-top: 8px;
    
        h2 {
        //   font-size: 28px !important; /* Erzwingt die Schriftgröße */
          text-align: center;
        }
    
        h3 {
        //   font-size: 18px !important; /* Kleinere Überschrift */
          text-align: center;
        }
    
        p {
        //   font-size: 14px !important; /* Kleinere Schriftgröße für Absätze */
          text-align: center;
        }
    
        .highlight span {
          display: inline-block;
          text-align: center;
        //   font-size: 28px;
        }
      }  

    .skills-grid {
      grid-template-columns: repeat(2, 1fr); /* Zwei Spalten für Icons */
      gap: 16px;
      margin-bottom: 16px;
    }

    .icon img {
        width: 56px;
        height: 56px;
    }

    .headline-mobile {
        font-family: var(--font-family-second);
        font-size: 18px;
        color: var(--accent-color);
        padding-left: 0;
        text-align: center;
    }

    .headline-desktop {
        display: none;
    }
  }


/* Mobile Ansicht - bis 480px */
@media (min-width: 321px) and (max-width: 480px) {
    .branding-section {
      padding: 20px 12px; /* Weniger Padding für kleine Geräte */
      background-size: contain; /* Verhindert abgeschnittene Bereiche */
  
      .infobox {
      top: -80%;
      width: 90%;
      }
    }
  
    .branding-content {
      flex-direction: column-reverse;
      padding: 20px 12px;
      gap: 16px; /* Weniger Abstand zwischen den Elementen */
    }
  
    // Branding Technologie Headline
    .branding-text-area h4 {
      padding-left: 0px;
    //   margin-bottom: -24px;
      font-family: var(--font-family-second);
      font-size: 18px;
      color: var(--accent-color);
      // margin-bottom: 16px;
      padding-left: 0;
      text-align: center;
    }

    // Technische Probleme bei den Media Queries, irgendeine höhere Instanz blockiert, deshalb habe ich das Problem direkt mit ein konsistentes SCSS-Setup gelöst.
    .branding-box {
        // padding: 32px 16px;
        // margin-top: 8px;
    
        h2 {
        //   font-size: 28px !important; /* Erzwingt die Schriftgröße */
          text-align: center;
        }
    
        h3 {
        //   font-size: 18px !important; /* Kleinere Überschrift */
          text-align: center;
        }
    
        p {
        //   font-size: 14px !important; /* Kleinere Schriftgröße für Absätze */
          text-align: center;
        }
    
        .highlight span {
          display: inline-block;
          text-align: center;
        //   font-size: 28px;
        }
      }  

    .skills-grid {
      grid-template-columns: repeat(2, 1fr); /* Zwei Spalten für Icons */
      gap: 16px;
      margin-bottom: 16px;
    }

    .icon img {
        width: 56px;
        height: 56px;
    }

    .headline-mobile {
        font-family: var(--font-family-second);
        font-size: 18px;
        color: var(--accent-color);
        padding-left: 0;
        text-align: center;
    }

    .headline-desktop {
        display: none;
    }
  }


/* Mobile Ansicht - bis 767px */
@media (min-width: 481px) and (max-width: 767px) {
    .branding-section {
      padding: 24px 16px; /* Weniger Padding für kleine Geräte */
      background-size: contain; /* Verhindert abgeschnittene Bereiche */
  
      .infobox {
      top: -80%;
      width: 90%;
      }
    }
  
    .branding-content {
      flex-direction: column-reverse;
      padding: 24px 16px;
      gap: 16px; /* Weniger Abstand zwischen den Elementen */
    }
  
    // Branding Technologie Headline
    .branding-text-area h4 {
      padding-left: 0px;
    //   margin-bottom: -24px;
      font-family: var(--font-family-second);
      font-size: 18px;
      color: var(--accent-color);
      // margin-bottom: 16px;
      padding-left: 0;
      text-align: center;
    }

    // Technische Probleme bei den Media Queries, irgendeine höhere Instanz blockiert, deshalb habe ich das Problem direkt mit ein konsistentes SCSS-Setup gelöst.
    .branding-box {
        // padding: 32px 16px;
        // margin-top: 8px;
    
        h2 {
        //   font-size: 28px !important; /* Erzwingt die Schriftgröße */
          text-align: center;
        }
    
        h3 {
        //   font-size: 18px !important; /* Kleinere Überschrift */
          text-align: center;
        }
    
        p {
        //   font-size: 14px !important; /* Kleinere Schriftgröße für Absätze */
          text-align: center;
        }
    
        .highlight span {
          display: inline-block;
          text-align: center;
        //   font-size: 28px;
        }
      }  

    .skills-grid {
      grid-template-columns: repeat(3, 1fr); /* Zwei Spalten für Icons */
      gap: 24px;
      margin-bottom: 16px;
    }

    .icon img {
        width: 56px;
        height: 56px;
    }

    .headline-mobile {
        font-family: var(--font-family-second);
        font-size: 20px;
        color: var(--accent-color);
        padding-left: 0;
        text-align: center;
    }

    .headline-desktop {
        display: none;
    }
  }
  
  
/* Mobile Ansicht - bis 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    .branding-section {
      padding: 32px 20px; /* Weniger Padding für kleine Geräte */
      background-size: contain; /* Verhindert abgeschnittene Bereiche */
  
      .infobox {
      top: -80%;
      width: 90%;
      }
    }
  
    .branding-content {
      flex-direction: column-reverse;
      padding: 32px 20px;
      gap: 32px; /* Weniger Abstand zwischen den Elementen */
      align-items: normal;
    }
  
    // Branding Technologie Headline
    .branding-text-area h4 {
      padding-left: 0px;
    //   margin-bottom: -24px;
      font-family: var(--font-family-second);
      font-size: 18px;
      color: var(--accent-color);
      // margin-bottom: 16px;
      padding-left: 0;
      text-align: center;
    }

    // Technische Probleme bei den Media Queries, irgendeine höhere Instanz blockiert, deshalb habe ich das Problem direkt mit ein konsistentes SCSS-Setup gelöst.
    .branding-box {
        // padding: 32px 16px;
        // margin-top: 8px;
    
        h2 {
        //   font-size: 28px !important; /* Erzwingt die Schriftgröße */
          text-align: center;
        }
    
        h3 {
        //   font-size: 18px !important; /* Kleinere Überschrift */
          text-align: center;
        }
    
        p {
        //   font-size: 14px !important; /* Kleinere Schriftgröße für Absätze */
          text-align: center;
        }
    
        .highlight span {
          display: inline-block;
          text-align: center;
        //   font-size: 28px;
        }
      }  

    .skills-grid {
      grid-template-columns: repeat(4, 1fr); /* Zwei Spalten für Icons */
      gap: 32px;
      margin-bottom: 16px;
    }

    .icon img {
        width: 56px;
        height: 56px;
    }

    .headline-mobile {
        font-family: var(--font-family-second);
        font-size: 24px;
        color: var(--accent-color);
        padding-left: 0;
        text-align: center;
    }

    .headline-desktop {
        display: none;
    }
  }


/* Mobile Ansicht - bis 1366px */
@media (min-width: 1025px) and (max-width: 1366px) {
    .branding-section {
      padding: 40px 24px; /* Weniger Padding für kleine Geräte */
      background-size: contain; /* Verhindert abgeschnittene Bereiche */
  
      .infobox {
      top: -120%;
      width: 90%;
      }
    }
  
    .branding-content {
      flex-direction: column-reverse;
      padding: 40px 24px;
      gap: 32px; /* Weniger Abstand zwischen den Elementen */
      align-items: normal;
    }
  
    // Branding Technologie Headline
    .branding-text-area h4 {
      padding-left: 0px;
    //   margin-bottom: -24px;
      font-family: var(--font-family-second);
      font-size: 18px;
      color: var(--accent-color);
      // margin-bottom: 16px;
      padding-left: 0;
      text-align: center;
    }

    // Technische Probleme bei den Media Queries, irgendeine höhere Instanz blockiert, deshalb habe ich das Problem direkt mit ein konsistentes SCSS-Setup gelöst.
    .branding-box {
        // padding: 32px 16px;
        // margin-top: 8px;
    
        h2 {
        //   font-size: 28px !important; /* Erzwingt die Schriftgröße */
          text-align: center;
        }
    
        h3 {
        //   font-size: 18px !important; /* Kleinere Überschrift */
          text-align: center;
        }
    
        p {
        //   font-size: 14px !important; /* Kleinere Schriftgröße für Absätze */
          text-align: center;
        }
    
        .highlight span {
          display: inline-block;
          text-align: center;
        //   font-size: 28px;
        }
      }  

    .skills-grid {
      grid-template-columns: repeat(4, 1fr); /* Zwei Spalten für Icons */
    //   gap: 16px;
      gap: 32px;
      margin-bottom: 16px;
    }

    // .icon img {
    //     width: 56px;
    //     height: 56px;
    // }

    .headline-mobile {
        font-family: var(--font-family-second);
        font-size: 24px;
        color: var(--accent-color);
        padding-left: 0;
        text-align: center;
    }

    .headline-desktop {
        display: none;
    }
  }
  
