.hero {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // color: #ffffff;
  }
  

  .hero-content {
    text-align: center;
    height: 720px;
  }
  

  .hero-buttons button {
    margin: 16px;
    padding: 8px 16px;
    background-color: transparent;
    border: 0.5px solid;
    // border-color: var(--primary-color);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;

    // border: none;
    border-radius: 45px;
    height: 45px;
    font-family: var(--font-family-second);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  

  .hero-buttons button:hover {
    border: 0.5px solid;
    border-color: #2EE59D;
    // background-color: #00e699;
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: var(--primary-color);
    font-weight: bold;
    transform: translateY(-7px);
  }


  h1 {
    font-family: var(--font-family);
    font-size: 128px;
    margin-top: 16px;
    margin-bottom: 16px;
  }


  h3 {
    font-family: var(--font-family-second);
    color: #2EE59D;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 0px;
  }


  p {
    font-family: var(--font-family-second);
  }


  // Animierter Banner
  .animated-banner {
    position: absolute;
    bottom: 160px;
    width: 100%; // Volle Breite des Containers
    overflow: hidden; // Text bleibt im Container
    height: 60px; // Höhe des Banners
    transform: rotate(-2deg); // Leicht verwinkelte Darstellung
    z-index: 2;
  }


  .banner-background {
    position: absolute;
    filter: blur(1px); // Blur nur auf dem Hintergrund
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    // background-color: rgba(28, 28, 28, 0.8); // Dunkler Hintergrund für das Banner
    z-index: 2;
  }


  .banner-text-wrapper {
    display: flex;
    // width: calc(200% + 48px); /* Anpassung für nahtlosen Übergang */
    width: 200%; /* Breite des Wrappers auf das Doppelte setzen */
    animation: scrollText 40s linear infinite; // Unendliche Animation von rechts nach links
    white-space: nowrap; // Verhindert Zeilenumbruch des Textes
    position: relative;
    z-index: 3; // Text vor dem Hintergrund
  }


  .banner-text {
    display: flex;
    gap: 48px; // Abstand zwischen den Texten
    padding-top: 16px; // Text im Banner zentrieren
  }


  .banner-text span {
    font-size: 24px;
    color: var(--accent-color); // Grüne Akzentfarbe
    font-family: var(--font-family-second);
  }


  @keyframes scrollText {
    0% {
      transform: translateX(1.3%);
    }
    100% {
      transform: translateX(-89.5%);
    }
  }
  
  
  // Linker Scroll-Button Vertikal
  .scroll-button {
    position: absolute;
    bottom: 450px; // Abstand vom unteren Rand
    margin-left: 48px;
    left: 5%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid var(--accent-color);
    transition: background-color 0.3s, transform 0.3s;
    
    &:hover {
        // background-color: var(--accent-color);
        transform: translateX(-50%) translateY(-10px);
    }

    .arrow {
        font-size: 24px;
        color: #ffffff;
        animation: arrowBounce 1.5s infinite;
    }

    .vertical-line {
      position: absolute;
      margin-top: 700px; // Kleiner Abstand zwischen Pfeil und Linie
      width: 1px; // Breite der Linie
      height: 600px; // Höhe der Linie, kannst du nach Bedarf anpassen
      // background-color: var(--accent-color);
      z-index: -1;
    }

    // Oberer Teil der Linie
    .line-top {
    height: 230px; // Länge des oberen Teils
    background-color: var(--accent-color);
    z-index: -1;
    }

    // Mittlerer Teil der Linie, welcher durch den Banner läuft
  .line-middle {
    height: 65px; // Höhe, die dem Bannerbereich entspricht
    background-color: var(--accent-color);
    filter: blur(3px); // Blur-Effekt für den Bannerbereich
    mix-blend-mode: multiply; // Lässt die Linie mit dem Hintergrund verschmelzen
    z-index: -1;
    }

    // Unterer Teil der Linie
  .line-bottom {
    height: 300px; // Länge des unteren Teils
    background-color: var(--accent-color);
    z-index: -1;
  }
}

@keyframes arrowBounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


// Social Media Container rechts im Hero-Bereich
.social-media-container {
  position: absolute;
  top: 72%;
  right: 5%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;

  .email {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    color: #fff;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 16px;
    // font-weight: 100;
    margin-bottom: 16px;

    &:hover {
      color: var(--accent-color);
    } 

  }

  // Social Media Icons
  .social-icons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .icon-link {
      position: relative;
      display: inline-block;
      transition: transform 0.3s, color 0.3s;

      &:hover {
        transform: translateY(-5px);

        // img {
        //   filter: invert(1); // Icons von grün nach weiß wechseln
        // }

        // Kleiner grüner Punkt bei Hover
        &::after {
          content: "";
          position: absolute;
          right: -20px;
          top: 50%;
          transform: translateY(-50%);
          height: 8px;
          width: 8px;
          background-color: var(--accent-color);
          border-radius: 50%;
        }
      }

      img,
      svg {
        width: 32px;
        height: 32px;
        transition: fill 0.3s, filter 0.3s;
      }
    }
  }

  // Vertikale Linie rechts im Hero-Bereich
  .vertical-line-right {
    margin-top: 32px;
    width: 1px;
    height: 400px;
    // background-color: var(--accent-color);
    position: relative;
    z-index: -1;

    // Oberer Teil der Linie
    .line-top {
      height: 104px;
      background-color: var(--accent-color);
      z-index: -1;
    }

    // Mittlerer Teil der Linie mit Blur-Effekt
    .line-middle {
      height: 62px;
      background-color: var(--accent-color);
      filter: blur(3px);
      mix-blend-mode: multiply;
      z-index: -1;
    }

    // Unterer Teil der Linie
    .line-bottom {
      height: 360px;
      background-color: var(--accent-color);
      z-index: -1;
    }
  }
}


// ****************************** MEDIA QUERIES *************************************
/* Media Queries: Standard (Desktop) Styles - ab 1024px sind alle Stile wie bisher. */

/* Mobile Styles - 320px bis 767px */
@media (max-width: 767px) {
  .hero-content {
    h1 {
      font-size: 40px; /* Kleinere Schrift für mobile Ansicht */
    }
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 11px;
    }
    .hero-buttons {
      flex-direction: column; /* Buttons vertikal ausrichten */

      button {
        width: 80%; /* Voller Button für mobile Ansicht */
      }
    }
  }


  .animated-banner {
    bottom: 80px;
  }


  .scroll-button {
    left: -5%;
    bottom: 380px; // Abstand vom unteren Rand

    .vertical-line {
      // display: none; /* Vertikale Linie für mobile Ansicht ausblenden */
      height: 600px;
    }

    .line-top {
      height: 220px; // Länge des oberen Teils
      }
  
    .line-bottom {
      height: 265px; // Länge des unteren Teils
    }
  }


  .social-media-container {
    right: 5%;
    transform: translateY(-50%);

    .email {
      display: none;
    }

    .social-icons {
      // flex-direction: row; /* Icons nebeneinander für mobile Ansicht */
      gap: 12px;
    }

    .vertical-line-right {
      // display: none; /* Vertikale Linie für die mobile Ansicht ausblenden */
      height: 200px;

      .line-top {
        height: 110px;
      }
  
      .line-bottom {
        height: 275px;
      }
    }
  }


  .burger-menu {
    display: block; /* Burger-Menü anzeigen */
  }


  .navbar {
    display: none; /* Navbar im Header verbergen */
  }
}


/* Tablet Styles - 768px bis 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-content {
    h1 {
      font-size: 96px; /* Mittlere Größe für Tablets */
    }
    h3 {
      font-size: 32px;
    }
    p {
      font-size: 18px;
    }
    .hero-buttons {
      flex-direction: row; /* Buttons horizontal für Tablets */
      button {
        width: auto;
      }
    }
  }


  .social-media-container {
    right: 5%;

    .email {
      display: none;
    }

    .social-icons {
      flex-direction: column; /* Zurück zur vertikalen Ausrichtung */
      gap: 16px; 

    }
  }
}


/* Big-Tablet Styles - 1025px bis 1440px */
@media (min-width: 1025px) and (max-width: 1440px) {
  
  .social-media-container {

    .email {
      display: none;
    }

  }
}


/* Desktop Styles - 1441px bis 1920px */
@media (min-width: 1441px) and (max-width: 1920px) {
  
  .social-media-container {

    .social-icons {

      #mail {
        display: none;
      }
    }
  }
}


/* Desktop Styles - ab 1921px bis kein Limit */
@media (min-width: 1921px) {
  
  .social-media-container {

    .social-icons {

      #mail {
        display: none;
      }
    }
  }
}
