<section id="hero" class="hero">
  <!-- Video Background -->
  <video class="hero-background-video" autoplay muted loop playsinline>
    <source src="/videos/taironman-hero-bg-video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <!-- Overlay über dem Video -->
  <div class="hero-overlay"></div>

  <div class="container">

    <div class="hero-content slide-in-left">

      <!-- Test translate -->
      <h3>{{ 'hero.title' | translate }}</h3>
      <!-- <h3>Web Developer</h3> -->

      <h1>TYRON MAN</h1>
      <span>&#11089; &#11089; &#11089; TAI SAVAS BOAS AYA &#11089; &#11089; &#11089; </span>
      <p>{{'hero.description' | translate}}</p>
      <div class="hero-buttons fade-in">
        <button (click)="navigateTo('projects')">{{'hero.cta.work' | translate}}</button>
        <button (click)="navigateTo('contact')">{{'hero.cta.contact' | translate}}</button>
      </div>
    </div>

    <!-- Scroll-Button -->
    <div class="scroll-button slide-in-right" (click)="navigateTo('about-me')">
      <span class="arrow">&#8595;</span>
      <div class="vertical-line">
        <div class="line-top"></div> <!-- Oberer Teil -->
        <div class="line-middle"></div> <!-- Mittlerer (unscharfer) Teil -->
        <div class="line-bottom"></div> <!-- Unterer Teil -->
      </div>
    </div>

    <!-- Social Media und vertikale Linie rechts -->
    <div class="social-media-container fade-in">
      <a href="mailto:tayfunaya@email.com" class="email">tayfunaya&commat;email.com</a>
    
      <!-- Social Media Icons -->
      <div class="social-icons">
        <a href="mailto:tayfunaya@email.com" target="_blank" class="icon-link">
          <img id="mail" src="./../icons/social/mail.svg" alt="Mail Icon"
          (mouseenter)="changeIconToWhite('mail')"
          (mouseleave)="resetIcon('mail')">
        </a>
        <a href="https://github.com/Metafeller" target="_blank" class="icon-link">
          <img id="github" src="./../icons/social/github.svg" alt="GitHub Icon"
          (mouseenter)="changeIconToWhite('github')" 
          (mouseleave)="resetIcon('github')">
        </a>
        <a href="https://www.linkedin.com/" target="_blank" class="icon-link">
          <img id="linkedin" src="./../icons/social/linkedin.svg" alt="LinkedIn Icon"
          (mouseenter)="changeIconToWhite('linkedin')" 
          (mouseleave)="resetIcon('linkedin')">
        </a>
        <a href="https://www.instagram.com/" target="_blank" class="icon-link">
          <img id="instagram" src="./../icons/social/instagram.svg" alt="Instagram Icon"
          (mouseenter)="changeIconToWhite('instagram')" 
          (mouseleave)="resetIcon('instagram')">
        </a>
        <a href="https://www.twitter.com/" target="_blank" class="icon-link">
          <img id="twitterx" src="./../icons/social/twitterx.svg" alt="Twitter Icon"
          (mouseenter)="changeIconToWhite('twitterx')" 
          (mouseleave)="resetIcon('twitterx')">
        </a>
      </div>
    
      <!-- Vertikale Linie rechts -->
      <div class="vertical-line-right">
        <div class="line-top"></div>
        <div class="line-middle"></div>
        <div class="line-bottom"></div>
      </div>
    </div>

    <div class="animated-banner">
      <div class="banner-background"></div> <!-- Hintergrund für den Blur -->
      <div class="banner-text-wrapper">
        <div class="banner-text">

          <span>&#11089;</span>
          <span>{{'hero.banner.remote' | translate}}</span>

          <span>&#11089;</span>
          <span>{{'hero.banner.frontend' | translate}}</span>

          <span>&#11089;</span>
          <span>{{'hero.banner.first-location' | translate}}</span>

          <!-- Neu -->
          <span>&#11089;</span>
          <span>{{'hero.banner.second-location' | translate}}</span>

          <!-- Neu -->
          <span>&#11089;</span>
          <span>{{'hero.banner.dpa' | translate}}</span>

          <!-- Neu -->
          <span>&#11089;</span>
          <span>{{'hero.banner.ai' | translate}}</span>

          <!-- <span>&#11089;</span>
          <span>{{'hero.banner.app' | translate}}</span> -->

          <!-- Neu -->
          <span>&#11089;</span>
          <span>{{'hero.banner.branding' | translate}}</span>

          <!-- Neu -->
          <!-- <span>&#11089;</span>
          <span>{{'hero.banner.marketing' | translate}}</span> -->

          <span>&#11089;</span>
          <span>{{'hero.banner.social' | translate}}</span>

          <span>&#11089;</span>
          <span>{{'hero.banner.open' | translate}}</span>

          <!-- Inhalte werden verdoppelt -->

          <span>&#11089;</span>
          <span>{{'hero.banner.remote' | translate}}</span>

          <span>&#11089;</span>
          <span>{{'hero.banner.frontend' | translate}}</span>

          <span>&#11089;</span>
          <span>{{'hero.banner.first-location' | translate}}</span>

          <!-- Neu -->
          <span>&#11089;</span>
          <span>{{'hero.banner.second-location' | translate}}</span>

          <!-- Neu -->
          <span>&#11089;</span>
          <span>{{'hero.banner.dpa' | translate}}</span>

          <!-- Neu -->
          <span>&#11089;</span>
          <span>{{'hero.banner.ai' | translate}}</span>

          <!-- <span>&#11089;</span>
          <span>{{'hero.banner.app' | translate}}</span> -->

          <!-- Neu -->
          <span>&#11089;</span>
          <span>{{'hero.banner.branding' | translate}}</span>

          <!-- Neu -->
          <!-- <span>&#11089;</span>
          <span>{{'hero.banner.marketing' | translate}}</span> -->

          <span>&#11089;</span>
          <span>{{'hero.banner.social' | translate}}</span>

          <span>&#11089;</span>
          <span>{{'hero.banner.open' | translate}}</span>

    
          <!-- Inhalte werden verdoppelt -->
          <!-- <span>&#11089;</span>
          <span>Available for remote work</span>

          <span>&#11089;</span>
          <span>Frontend Developer</span>

          <span>&#11089;</span>
          <span>Based in Germany (NRW)</span>

          <span>&#11089;</span>
          <span>Web Application</span>

          <span>&#11089;</span>
          <span>Branding and Marketing</span>

          <span>&#11089;</span>
          <span>Content Management</span>

          <span>&#11089;</span>
          <span>Social Media Marketing</span>

          <span>&#11089;</span>
          <span>Open to work</span> -->
        </div>
      </div>
      <!-- Vertikale Linie direkt in den Banner-Container setzen -->
    <!-- <div class="vertical-line"></div> -->
    </div>
    
  </div>  
</section>
  