<section class="hero">

    <div class="hero-content">
      <h3>Frontend Developer</h3>
      <h1>TAYFUN AYA</h1>
      <p>Check my work or contact me below</p>
      <div class="hero-buttons">
        <button>Check my work</button>
        <button>Contact me</button>
      </div>
    </div>

    <!-- Scroll-Button -->
    <div class="scroll-button" id="scroll-down">
      <span class="arrow">&#8595;</span>
    </div>

    <div class="animated-banner">
      <div class="banner-background"></div> <!-- Hintergrund für den Blur -->
      <div class="banner-text-wrapper">
        <div class="banner-text">
          <span>&#11089;</span>
          <span>Available for remote work</span>
          <span>&#11089;</span>
          <span>Frontend Developer</span>
          <span>&#11089;</span>
          <span>Based in Germany (NRW)</span>
          <span>&#11089;</span>
          <span>Web Application</span>
          <span>&#11089;</span>
          <span>Branding and Marketing</span>
          <span>&#11089;</span>
          <span>Content Management</span>
          <span>&#11089;</span>
          <span>Social Media Marketing</span>
          <span>&#11089;</span>
          <span>Open to work</span>
          <span>&#11089;</span>
          <!-- Inhalte werden verdoppelt -->
          <span>Available for remote work</span>
          <span>&#11089;</span>
          <span>Frontend Developer</span>
          <span>&#11089;</span>
          <span>Based in Germany (NRW)</span>
          <span>&#11089;</span>
          <span>Web Application</span>
          <span>&#11089;</span>
          <span>Branding and Marketing</span>
          <span>&#11089;</span>
          <span>Content Management</span>
          <span>&#11089;</span>
          <span>Social Media Marketing</span>
          <span>&#11089;</span>
          <span>Open to work</span>
        </div>
      </div>
    </div>
    
  </section>
  