<header class="header">
  <div *ngIf="!menuOpen" class="language-switch language-switch-desktop">
    <button class="language-btn active">EN</button>
    <button class="language-btn">DE</button>
  </div>
      
  <nav class="navbar" [ngClass]="{ 'open': menuOpen }">
    <ul class="navbar-menu">
      <li><a href="#about-me">About me</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>

    <div class="switch-btn-container">
      <div *ngIf="menuOpen" class="language-switch-mobile">
        <div class="language-switch">
          <button class="language-btn active">EN</button>
          <button class="language-btn">DE</button>
        </div>
      </div>
    </div>
  </nav>

  <div class="header-logo" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()">
    <img id="header-logo" src="./../logos/beispiel-logo-default.png" alt="TAYFUN AYA LOGO">
  </div>

  <!-- Burger Menu Button -->
  <div class="burger-menu" id="burger-menu" (click)="toggleMenu()">
    <span class="burger-icon">&#9776;</span> <!-- Burger Icon -->
  </div>

</header>
