.header {
    background-color: var(--primary-color-transparent);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    // background-color: rgba(28, 28, 28, 0.3); // Das entspricht #1C1C1C mit 30% Deckkraft
    font-family: var(--font-family-second);
    color: #ffffff;
    padding: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    // padding-left: 48px;
    // padding-right: 48px;
  }


  .header-logo {
    margin-left: auto;
    margin-right: 48px;
    padding: 4px;
  
    img {
      max-height: 48px;
      transition: opacity 0.3s ease;
    }

  } 
  

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
  }
  

  .navbar-menu {
    padding-inline-start: 16px;
    padding-right: 16px;
    list-style: none;
    display: flex;
    gap: 24px;
  }


  .navbar-menu li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 20px;
    position: relative; // Notwendig, damit das Pseudo-Element sich relativ zum Link positioniert


    // Pseudo-Element für den grünen Punkt unter dem Link
    &::after {
      content: "";
      position: absolute;
      bottom: -12px; // Abstand vom Text nach unten
      left: 50%; // In der Mitte des Links positioniert
      transform: translateX(-50%);
      width: 6px; // Breite des Punktes
      height: 6px; // Höhe des Punktes
      background-color: var(--accent-color); // Grüne Akzentfarbe
      border-radius: 50%; // Runde Form für den Punkt
      opacity: 0; // Unsichtbar im Normalzustand
      transition: opacity 0.3s ease, transform 0.3s ease; // Sanfter Übergang
    }


    // Hover-Effekt für das Pseudo-Element
    &:hover {
      color: var(--accent-color); // Der Link wird grün

      &::after {
        opacity: 1; // Der Punkt wird sichtbar
        transform: translateX(-50%) translateY(-3px); // Punkt bewegt sich leicht nach oben für ein schönes Effekt
      }
    }
  }
  

  // .navbar-menu li a:hover {
  //   color: var(--accent-color);
  // }


  .language-switch {
    width: 84px;
    height: 28px;
    margin: 16px;
    // margin-left: 48px;
    // margin-right: 8px;
    padding-right: 16px;

    // Inline Style meines EN DE Buttons
    display: inline-flex;
    border: 1px solid var(--accent-color);
    box-shadow: 9px 1px 20px 0px rgb(28 87 63 / 50%);
    border-radius: 20px;
    overflow: hidden;

    // .language-switch-mobile {
    //   display: flex;
    //   justify-content: center;
    //   margin-top: 16px; // Am unteren Ende des Burger-Menüs platzieren
    // }
  
    .language-btn {
      background: none;
      border: none;
      border-radius: 20px;
      color: #00ffae;
      box-shadow: 9px 1px 20px 0px rgb(28 87 63 / 50%);
      padding: 8px 16px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-weight: 700;
  
      &.active {
        background-color: var(--accent-color);
        color: var(--primary-color);
        // color: #ffffff;
        font-weight: 700;
      }
  
      &:hover {
        // background-color: var(--accent-color);
        box-shadow: 9px 1px 20px 0px rgb(28 87 63 / 50%);
        // color: var(--primary-color);
        color: #ffffff;
        font-weight: 700;
      }
    }
  }
  

  .burger-menu {
    display: none; /* Standardmäßig ausgeblendet */
    cursor: pointer;
    font-size: 40px;
    color: var(--accent-color);
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 5;
    margin-right: 24px;
  
    .burger-icon {
      font-size: 32px;
    }

  }


  // ****************************** MEDIA QUERIES *************************************
  /* Media Queries: Standard (Desktop) Styles - ab 1024px sind alle Stile wie bisher. */

  @media (max-width: 1024px) {

    .header {
      padding: 16px;
      justify-content: space-between; // Anpassen für mobile Ansicht
      padding-bottom: 72px;
    }

    .header-logo {
      position: absolute;
      left: 16px; // In der mobilen Ansicht auf der linken Seite anzeigen
    }

    .navbar {

      display: none; // Navbar in der mobilen Ansicht zunächst ausblenden
    
        &.open {
          display: block; // Wenn 'open' Klasse hinzugefügt wird, Navbar sichtbar machen
          position: absolute;
          top: 80px; // Unter dem Header platzieren
          right: 0;
          // background-color: var(--primary-color-transparent);
          background-color: rgba(28, 28, 28, 0.6);
          width: 100%;
          padding: 16px;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
          z-index: 1001;

          margin: 16px;
          height: 240px;
          width: 240px;
          border-radius: 16px;
          padding-bottom: 72px;
        }
    } 

    .navbar-menu {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-top: 10px;
      // padding-bottom: 20px;
    }

    .language-switch-desktop {
      display: none; // In der mobilen Ansicht im Burger-Menü verstecken
    }

    .switch-btn-container {
      display: flex;
      justify-content: center;
      margin-top: auto;
    }

    .burger-menu {
        display: block; // Burger-Menü für mobile Ansicht anzeigen
    }

  }



  