<header class="header">
    
    <div class="language-switch">
        <button class="language-btn active">EN</button>
        <button class="language-btn">DE</button>
    </div>
      
    <nav class="navbar">
      <ul class="navbar-menu">
        <li><a href="#about-me">About me</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>

    <div class="header-logo" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()">
      <img id="header-logo" src="./../logos/beispiel-logo-default.png" alt="TAYFUN AYA LOGO">
    </div>
  </header>
