<header class="header">
  <div class="container">

    <div *ngIf="!menuOpen" class="language-switch language-switch-desktop">
      <button class="language-btn active">EN</button>
      <button class="language-btn">DE</button>
    </div>
        
    <nav class="navbar" [ngClass]="{ 'open': menuOpen }">
      <ul class="navbar-menu">
        <!-- <li><a href="#about-me">About me</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li> -->
        <li><a (click)="navigateTo('about-me')">About me</a></li>
        <li><a (click)="navigateTo('skills')">Skills</a></li>
        <li><a (click)="navigateTo('projects')">Projects</a></li>
        <li><a (click)="navigateTo('contact')">Contact</a></li>
      </ul>

      <div class="switch-btn-container">
        <div *ngIf="menuOpen" class="language-switch-mobile">
          <div class="language-switch">
            <button class="language-btn active">EN</button>
            <button class="language-btn">DE</button>
          </div>
        </div>
      </div>
    </nav>

    <!-- <div class="header-logo" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()">
      <img id="header-logo" src="./../logos/beispiel-logo-default.png" alt="TAYFUN AYA LOGO">
    </div> -->


    <!-- Desktop Logo - Nur bei größerer Bildschirmgröße anzeigen -->
    <div *ngIf="screenWidth > 1024" class="header-logo header-logo-desktop" (click)="navigateTo('')" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()">
      <img id="header-logo" src="./../logos/aya/11.svg" alt="TAYFUN AYA TECH LOGO">
    </div>

    <!-- Mobiles Logo - Nur bei kleiner Bildschirmgröße anzeigen -->
    <div *ngIf="screenWidth <= 1024" class="header-logo-mobile">
      <img id="mobile-header-logo" src="./../logos/aya/11.svg" alt="TAYFUN AYA TTECH LOGO Mobile">
    </div>


    <!-- Burger Menu Button -->
    <div class="burger-menu" id="burger-menu" (click)="toggleMenu()">
      <!-- <span class="burger-icon">&#9776;</span> Burger Icon -->
      <span class="burger-icon" *ngIf="!menuOpen">&#9776;</span> <!-- Burger Icon -->
      <span class="burger-icon close-icon" *ngIf="menuOpen">&#10006;</span> <!-- Close Icon -->
    </div>

  </div>
</header>
