.header {
    background-color: var(--primary-color-transparent);
    // background-color: rgba(28, 28, 28, 0.3); // Das entspricht #1C1C1C mit 30% Deckkraft
    font-family: var(--font-family-second);
    color: #ffffff;
    padding: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
  }


  .header-logo {
    margin-left: auto;
    margin-right: 32px;
    padding: 4px;
  
    img {
      max-height: 48px;
      transition: opacity 0.3s ease;
    }

  } 
  

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .navbar-menu {
    padding-inline-start: 16px;
    padding-right: 16px;
    list-style: none;
    display: flex;
    gap: 24px;
  }
  

  .navbar-menu li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 20px;
  }
  

  .navbar-menu li a:hover {
    color: var(--accent-color);
  }


  .language-switch {
    width: 84px;
    height: 28px;
    margin: 16px 32px 16px 32px;
    padding-right: 16px;

    // Inline Style meines EN DE Buttons
    display: inline-flex;
    border: 1px solid var(--accent-color);
    box-shadow: 9px 1px 20px 0px rgb(28 87 63 / 50%);
    border-radius: 20px;
    overflow: hidden;
  
    .language-btn {
      background: none;
      border: none;
      border-radius: 20px;
      color: #00ffae;
      box-shadow: 9px 1px 20px 0px rgb(28 87 63 / 50%);
      padding: 8px 16px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-weight: 700;
  
      &.active {
        background-color: var(--accent-color);
        color: var(--primary-color);
        // color: #ffffff;
        font-weight: 700;
      }
  
      &:hover {
        // background-color: var(--accent-color);
        box-shadow: 9px 1px 20px 0px rgb(28 87 63 / 50%);
        // color: var(--primary-color);
        color: #ffffff;
        font-weight: 700;
      }
    }
  }
  
  