.header {
    background-color: var(--primary-color-transparent);
    // background-color: rgba(28, 28, 28, 0.3); // Das entspricht #1C1C1C mit 30% Deckkraft
    font-family: var(--font-family-second);
    color: #ffffff;
    padding: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 16px;
  }
  

  .navbar-menu li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
  }
  

  .navbar-menu li a:hover {
    color: var(--accent-color);
  }
  