.projects-section-container {
    padding: 48px 32px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.projects-content {
    display: flex;
    // flex-wrap: nowrap;
    justify-content: space-between;
    // flex-direction: row;
    align-items: flex-start;
    padding: 48px 32px;
    // gap: 64px;
    gap: 32px;
}

.project-list-box {
    flex: 0 0 50%; /* Linke Seite nimmt 50% ein */
    display: flex; 
    flex-direction: column; 
    gap: 16px; 

    .project-item {
        padding: 16px; 
        border: 1px solid var(--accent-color); 
        border-radius: 8px; 
        cursor: pointer; 
        transition: background-color 0.3s ease; 

        &:hover { 
        // background-color: var(--accent-color); 
        background-color: rgba(0, 255, 174, 0.1);
        color: #fff; 
        } 
    }
}

.project-preview {
    // margin-top: 32px;
    flex: 0 0 50%; /* Rechte Seite nimmt 50% ein */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    img {
        // max-width: 100%;
        max-width: max-content;
        height: 412px;
        border: 2px solid var(--accent-color);
        border-radius: 8px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05); /* Leichte Vergrößerung beim Hover */
        }
    }
}

// Warte...

.projects-text-area {

    h4 {
        font-family: var(--font-family-second);
        font-size: 24px;
        color: var(--accent-color);
        margin-bottom: 16px;
    }

    h2 {
        font-family: var(--font-family);
        font-size: 64px;
        color: var(--accent-color);
        margin-top: 0;
        margin-bottom: 16px;
      }

      h3 {
        font-family: var(--font-family);
        font-size: 24px;
        letter-spacing: 4px;
      }
  
      p {
        font-family: var(--font-family-second);
        font-size: 18px;
        line-height: 1.6;
        color: #ffffff;
      }
}


.projects-text-area {
    flex: 1 1 50%; /* Nimmt 50% der Breite ein */
    }




  