<section class="projects-section-container">

    <!-- Featured Projects Area -->
    <!-- <div class="projects-text-area">
        <h4 class="headline-desktop">Portfolio</h4>
        <h2>Featured Projects</h2>
        <p>
        Explore a selection of my work here - Interact with projects to see my skills
        in action.
        </p>            
    </div> -->

    <div class="projects-content">

        <!-- Left Side: Project List -->
        <div class="project-list-box">

            <!-- Featured Projects Area -->
            <div class="projects-text-area">
                <h4 class="headline-desktop">Portfolio</h4>
                <h2>Featured Projects</h2>
                <p>
                Explore a selection of my work here - Interact with projects to see my skills
                in action.
                </p>            
            </div>

            <div
                class="project-item"
                *ngFor="let project of projects"
                (mouseenter)="selectedProject = project"
                (mouseleave)="selectedProject = null"
            >
                <h3>{{ project.name }}</h3>
                <!-- <p>{{ project.technologies.join(' | ') }}</p> -->
                <p [innerHTML]="project.technologies | technologyPipe"></p>

            </div>
        </div>

        <!-- Right Side: Project Preview -->

        <div class="project-preview" *ngIf="selectedProject">
        <img [src]="selectedProject.imageUrl" [alt]="selectedProject.name" />
        </div>

    </div>
</section>
  
