<section class="contact-section-container">

    <div class="headline">
        <h4>Contact me</h4>
    </div>
    
    <div class="contact-content">        
        <!-- Linke Seite: Text -->
        <div class="contact-left">
        <h4>Contact me</h4>
        <h2>Let's work <br> together</h2>
        <h3>Got a problem to solve?</h3>
        <p>
            Contact me through this form, I am interested in hearing from you, 
            knowing your ideas and contributing to your projects with my work.
        </p>
        <span>
            Need a Frontend developer?
            <a href="#contact-form" class="accent-text"> &#10132; Let’s talk!</a>
        </span>
        </div>

        <!-- Rechte Seite: Formular -->
        <div class="contact-right">
            <form id="contact-form">
                <label for="name">What's Your Name?</label>
                <input type="text" id="name" placeholder="Your name goes here">

                <label for="email">What's Your Email?</label>
                <input type="email" id="email" placeholder="yourmail@email.com">

                <label for="message">How can I help you?</label>
                <textarea id="message" placeholder="What do you need to develop?" maxlength="369"></textarea>

                <div class="checkbox-container">
                 <label class="custom-checkbox">
                  <input type="checkbox" id="privacy">
                  <span class="checkmark"></span>
                 </label>    

                <label for="privacy">I've read the <a href="/privacy-policy" class="accent-text">privacy policy</a> and agree to the processing of my data as outlined.</label>
                </div>
                
                <div class="button">
                    <!-- Button Component -->
                    <app-button type="button" buttonClass="default-button">
                        Say Hello <span id="emoji">😊</span>
                    </app-button>
                </div>
                
            </form>
        </div>
    </div>
</section>
  
