<section class="contact-section-container">

    <div class="headline">
        <h4>Contact me</h4>
    </div>
    
    <div class="contact-content">        
        <!-- Linke Seite: Text -->
        <div class="contact-left">
        <h4>Contact me</h4>
        <h2>Let's work together</h2>
        <h3>Got a problem to solve?</h3>
        <p>
            Contact me through this form, I am interested in hearing from you, 
            knowing your ideas and contributing to your projects with my work.
        </p>
        <span>
            Need a Frontend developer? 
            <a href="#contact-form" class="accent-text"> &#10132; Let’s talk!</a>
        </span>
        </div>

        <!-- Rechte Seite: Formular -->
        <div class="contact-right">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <label for="name">What's Your Name?</label>
                <input type="text" id="name" formControlName="name" placeholder="Your name goes here" maxlength="40"
                    [class.error-border]="name?.invalid && name?.touched">
                <div class="error" *ngIf="name?.invalid && name?.touched">⚠️ Please enter a valid name.</div>
        
                <label for="email">What's Your Email?</label>
                <input type="email" id="email" formControlName="email" placeholder="yourbestmail@email.com" maxlength="40"
                    [class.error-border]="email?.invalid && email?.touched">
                <div class="error" *ngIf="email?.invalid && email?.touched">⚠️ Please enter a valid email.</div>
        
                <label for="message">How can I help you?</label>
                <textarea id="message" formControlName="message" placeholder="What do you need to develop?" maxlength="369"
                    [class.error-border]="message?.invalid && message?.touched"></textarea>
                <div class="char-counter" [class.warning]="getCharCount() < 50">
                  {{ getCharCount() }} / 369 characters
                </div>
                <div class="error" *ngIf="message?.invalid && message?.touched">⚠️ Minimum 50 characters required.</div>
        
                <label for="category">Select Category</label>

                    <!-- Eigene Dropdown-Komponente -->
                    <div class="custom-dropdown" (click)="toggleDropdown($event)">
                        <div class="selected-option">
                        {{ selectedCategory || 'Choose a category' }}
                        </div>
                        <ul class="dropdown-options" [class.show]="dropdownOpen">
                        <li (click)="selectCategory('Brand Strategy')">Brand Strategy 
                            <span class="category-description">(Personal Brand, Market Positioning)</span></li>
                        <li (click)="selectCategory('PR & Marketing')">PR & Marketing
                            <span class="category-description">(Social Media, Paid-Ads, Organic, SEO)</span></li>
                        <li (click)="selectCategory('Web Development')">Web Development 
                            <span class="category-description">(App, Website, Funnelsteps, SaaS-Software)</span></li>
                        <li (click)="selectCategory('AI-Solutions')">AI-Solutions 
                            <span class="category-description">(AI-Agency, AI-Content Creation and more)</span></li>
                        <li (click)="selectCategory('All-Round Carefree Package')">All-Round Carefree Package
                            <span class="category-description">(Full Service Package)</span></li>  
                        <!-- <li (click)="selectCategory('Done For You')">Done For You
                            <span class="category-description">(Done For You)</span></li> -->
                        <li (click)="selectCategory('other')">Other
                            <span class="category-description">(Other Specific Solution)</span></li>
                        </ul>
                    </div>
  
                    <!-- <select id="category" formControlName="category">
                        <option value="" disabled selected>Choose a category</option>
                        <option value="web-development">Web Development</option>
                        <option value="app">App Development</option>
                        <option value="ui-ux">UI/UX Design</option>
                        <option value="seo">SEO Optimization</option>
                        <option value="branding">Branding and Marketing</option>
                        <option value="ai-agency">AI-Agency</option>
                        <option value="other">Other</option>
                    </select> -->

                <div class="error" *ngIf="category?.invalid && category?.touched">⚠️ Please select a category.</div>
        
                <div *ngIf="category?.value === 'other'"
                    [ngClass]="{ 'show-custom-category': category?.value === 'other' }">
                  <label for="customCategory">Custom Category</label>
                  <input type="text" id="customCategory" formControlName="customCategory" placeholder="Specify your category" maxlength="40"
                    [class.error-border]="!isCustomCategoryValid()">
                <div class="error" *ngIf="!isCustomCategoryValid()">⚠️ Please provide a custom category.</div>
                </div>

                <div class="checkbox-container">
                  <label class="custom-checkbox">
                    <input type="checkbox" id="privacy" formControlName="privacy">
                    <span class="checkmark"></span>
                  </label>
                  <label for="privacy">I've read the <a href="/privacy-policy" class="accent-text">privacy policy</a> and agree to the processing of my data as outlined.</label>
                </div>
                <div class="error" *ngIf="privacy?.invalid && privacy?.touched">⚠️ You must accept the privacy policy.</div>
        
                <div class="button">
                  <div class="tooltip-container">
                    <app-button 
                        type="submit" 
                        buttonClass="default-button" 
                        [disabled]="!isFormValid()">
                        {{ isLoading ? 'Sending...' : 'Say Hello 😊' }}
                    </app-button>
                    <span class="tooltip" *ngIf="!isFormValid()">⚠️ Please complete all fields! ⚠️</span>
                  </div>
                </div>

                <div *ngIf="formSubmitted" class="success-message">
                    🥳 Your message has been sent successfully! 🥳
                </div>

                <div *ngIf="formError" class="error-message">
                    ❌⚠️ {{ formError }} ⚠️❌
                </div>
              </form>
        </div>
    </div>
</section>
  
