/* CSS-Variablen Global*/
:root {
    --primary-color: #1C1C1C;
    --primary-color-transparent: rgba(28, 28, 28, 0.3);
    --accent-color: #00ffae;
    --font-family: 'Karla', sans-serif;
    --font-family-second: 'Fira Code', monospace;
  }

  body {
    font-family: var(--font-family);
    text-align: center;
    padding: 50px;
    margin: 0;
    background: var(--primary-color) url('/bg-images/bg-hero.png') no-repeat center center fixed;
    background-size: cover;
  }

.thank-you-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    /* background: rgb(33, 33, 33, 0.8); */
    background: var(--primary-color-transparent);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    margin-top: 24px;
    /* font-family: var(--font-family); */
    margin-bottom: 40px;
}

.avatar {
    border-radius: 8px;
    width: 480px;
    /* height: 480px; */
    object-fit: cover;
}

h1 {
    /* color: #007bff; */
    color: var(--accent-color);
    /* font-family: var(--font-family-second); */
    margin-bottom: 32px;
}

p {
    font-size: 16px;
    padding: 0px 32px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    /* background-color: #007bff; */
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 5px;
    font-family: var(--font-family-second);
    margin-bottom: 40px;

    background-color: #2EE59D;
    border-radius: 45px;
    border: 0.5px solid;
    border-color: #2EE59D;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    transition: all 0.3s ease 0s;
    outline: none;
    appearance: auto;
    font-weight: 700;
    font-size: 16px;
}

.button:hover {
    border: 0.5px solid;
    border-color: #2EE59D;
    background-color: transparent;
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
    color: var(--accent-color);
    font-weight: bold;
    /* transform: translateY(-7px); */
}

.button-two {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    /* background-color: #007bff; */
    background-color: transparent;
    /* background-color: rgb(0, 123, 255, 0.4); */
    color: #007bff;
    text-decoration: none;
    margin-bottom: 24px;
    
    text-decoration: none;
    border-radius: 5px;
    font-family: var(--font-family-second);
    /* color: var(--primary-color); */
    /* background-color: #2EE59D; */
    border-radius: 45px;
    border: 0.5px solid;
    border-color: #007bff;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    transition: all 0.3s ease 0s;
    outline: none;
    appearance: auto;
    font-weight: 700;
    font-size: 16px;
}

.button-two:hover {
    border: 0.5px solid;
    border-color: #2EE59D;
    background-color: transparent;
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
    color: var(--accent-color);
    font-weight: bold;
    /* transform: translateY(-7px); */
}

/* Footer */
footer {
    margin-top: 40px;
    text-align: center;
    color: white;
    font-family: var(--font-family-second);
}


/* ---------------- Responsive Styles ---------------- */

/* Mobile Ansicht - 240px bis 320px */
@media (min-width: 240px) and (max-width: 320px) {
    body {
      padding: 16px 8px;
    }
    .thank-you-container {
      padding: 10px;
      margin-top: 16px;
      margin-bottom: 24px;
    }

    .avatar {
      width: 200px;
      height: 200px;
    }

    p {
      font-size: 14px;
    }
    h1 {
      font-size: 22px;
      margin-bottom: 24px;
    }
    .button, .button-two {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  
  /* Mobile Ansicht - 321px bis 480px */
  @media (min-width: 321px) and (max-width: 480px) {
    body {
      padding: 20px 12px;
    }
    .thank-you-container {
      padding: 15px;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .avatar {
        width: 256px;
        height: 256px;
    }

    p {
      font-size: 14px;
    }
    h1 {
      font-size: 24px;
      margin-bottom: 26px;
    }
    .button, .button-two {
      font-size: 15px;
      padding: 9px 18px;
    }
  }
  
  /* Mobile Ansicht - 481px bis 767px */
  @media (min-width: 481px) and (max-width: 767px) {
    body {
      padding: 24px 16px;
    }
    .thank-you-container {
      padding: 18px;
      margin-top: 22px;
      margin-bottom: 32px;
    }

    .avatar {
        width: 400px;
        height: 400px;
    }

    p {
      font-size: 16px;
    }
    h1 {
      font-size: 26px;
      margin-bottom: 28px;
    }
    .button, .button-two {
      font-size: 15px;
      padding: 10px 20px;
    }
  }
  
  /* Mobile Ansicht - 768px bis 1024px */
  @media (min-width: 768px) and (max-width: 1024px) {
    body {
      padding: 32px 20px;
    }
    .thank-you-container {
      padding: 20px;
      margin-top: 24px;
      margin-bottom: 36px;
    }
    p {
      font-size: 16px;
    }
    h1 {
      font-size: 28px;
      margin-bottom: 30px;
    }
    .button, .button-two {
      font-size: 16px;
      padding: 10px 20px;
    }
  }
  
  /* Mobile Ansicht - 1025px bis 1366px */
  @media (min-width: 1025px) and (max-width: 1366px) {
    body {
      padding: 40px 24px;
    }
    .thank-you-container {
      padding: 22px;
      margin-top: 26px;
      margin-bottom: 40px;
    }
    p {
      font-size: 16px;
      padding: 0px 32px;
    }
    h1 {
      font-size: 30px;
      margin-bottom: 32px;
    }
    .button, .button-two {
      font-size: 16px;
      padding: 12px 22px;
    }
  }
