<section class="marketing-section container">
    <div class="marketing-content">
      <!-- Marketing Skill Set -->
      <div class="marketing-text-area slide-in-left">
        <h4 class="headline-desktop slide-in-right">{{ 'skills.marketing.h4' | translate }}</h4>
  
        <div class="marketing-box">
          <h2>{{ 'skills.marketing.h2' | translate }}</h2>
          <p>
            {{ 'skills.marketing.description' | translate }}
          </p>
          <p>
            {{ 'skills.marketing.description-2' | translate }}
          </p>
          <p>
            {{ 'skills.marketing.description-3' | translate }}
          </p>
          <h3 class="highlight">
            <strong>{{ 'skills.marketing.h3.text-1' | translate }} <span>{{ 'skills.marketing.h3.text-2' | translate }}</span></strong>
          </h3>
          <p>
            {{ 'skills.marketing.sub-description' | translate }}
          </p>
          <!-- Button Component -->
          <app-button type="button" buttonClass="default-button" (click)="navigateTo('contact')">
            {{ 'skills.marketing.cta' | translate }}
          </app-button>
        </div>
      </div>
  
      <!-- Grid mit Icons -->
      <div class="skills-grid slide-in-right">
        <div 
        class="icon" 
        *ngFor="let skill of skills" 
        (mouseenter)="showHover(skill)" 
        (mouseleave)="hideHover(skill)"
        (click)="toggleInfobox(skill)"
        >
          <div class="vector-background"></div>
          <img [src]="skill.icon" [alt]="skill.name" />
          <span [ngClass]="{ 'hovered': skill.isHovered }">{{ skill.name }}</span>
  
          <!-- Infobox -->
          <div class="infobox" [class.visible]="skill.isHovered || skill.isInfoboxVisible">
            <h3>{{ skill.infoboxTitle }}</h3>
            <p>{{ skill.infoboxDescription }}</p>
            <div class="infobox-icons">
              <img *ngFor="let subIcon of skill.infoboxIcons" [src]="subIcon.src" [alt]="subIcon.alt" />
            </div>
          </div>
        </div>
      </div>
      <div class="headline-mobile">
        <h4>Marketing Technologies</h4>
      </div>
    </div>
  </section>
  
