<!-- Ich hab den Header und den Hero in eine Div gepackt, damit ich ein Hintergrundbild für beide nutzen kann -->
<div class="header-hero-container">
  <app-header></app-header>
  <app-hero></app-hero>
</div>

<!-- Hier beginnt der zweite Teil der Webseite -->
<div class="content">
  <!-- Hier können später weitere Komponenten oder Inhalte eingefügt werden -->
  <app-about-me></app-about-me>
  <app-skills></app-skills>
  <app-projects></app-projects>
  <app-contact></app-contact>
  <app-reviews></app-reviews>
</div>
<app-footer></app-footer>

<!-- <router-outlet></router-outlet> -->
<!-- <router-outlet /> -->

<div id="cursor-shadow" class="cursor-shadow"></div>
