<!--  Header & Hero teilen sich BG-Bild -->
<div class="header-hero-container">
  <app-header></app-header>
  <app-hero></app-hero>
</div>

<!--  Haupt-Content  -->
<div class="content">
  <app-about-me></app-about-me>
  <app-skills></app-skills>
  <app-projects></app-projects>
  <app-reviews></app-reviews>
  <app-contact></app-contact>
</div>

<!--  Haupt-Footer bekommt eine ID, damit wir hin-scrollen können -->
<app-footer id="footer"></app-footer>

<!-- globaler Anker für die Legal-Section -->
<span id="legal-page-anchor"></span>

<!-- Router-Seiten /legal & /privacy -->
<router-outlet></router-outlet>

<!-- Section (wird intern via *ngIf gesteuert) -->
<!-- <app-legal-section></app-legal-section> -->
 <app-legal-overlay></app-legal-overlay>

<app-cookie-banner></app-cookie-banner>
<div id="cursor-shadow" class="cursor-shadow"></div>
