<div class="reviews-section" role="region" aria-label="Testimonials">
    <!-- Section Headline -->
    <h2 class="section-title">What my colleagues say about me</h2>
  
    <!-- Slider Wrapper -->
    <div class="slider-wrapper" role="region" aria-label="Testimonials Slider">
      <!-- Review Cards -->
      <div class="reviews-cards" [style.transform]="currentTransform" aria-live="polite">
        <div
          class="review-card"
          *ngFor="let review of reviews; let i = index; trackBy: trackByIndex"
          [class.active]="isActive(i)"
          [class.inactive]="!isActive(i)"
        >
          <div class="review-card-content">
            <!-- Profile Picture -->
            <div class="profile-pic-container">
              <img [src]="review.image" alt="{{ review.name }}" class="profile-pic" />
              <div class="profile-pic-background"></div>
            </div>
  
            <!-- Review Text -->
            <div class="review-text">
              <blockquote>
                {{ showFullText === i ? review.text : review.text | slice:0:100 }}...
              </blockquote>

              <!-- "Read More" Option -->
              <span *ngIf="review.text.length > 100 && showFullText !== i" class="read-more" (click)="expandText(i)">
                Read More
              </span>

              <!-- Review Name and Position -->
              <span *ngIf="showFullText === i" class="read-more" (click)="collapseText()">Read Less</span>
              <p class="review-author">
                {{ review.name }} &#11089; {{ review.position }}
              </p>

              <!-- Star Rating -->
            <div class="star-rating">
                <fa-icon
                  [icon]="faStar"
                  *ngFor="let star of getStarArray(review.rating)"
                ></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Miniature Navigation -->
    <div class="miniature-navigation">
      <!-- Left Arrow -->
      <button class="arrow left-arrow" (click)="goToPreviousReview()" aria-label="Previous Review">
        <img src="/icons/general/arrow-left-hover.svg" alt="Previous" />
      </button>

    <!-- Dots Navigation -->
    <div class="dots-navigation" *ngIf="isMobileView">
      <span
        *ngFor="let review of reviews; let i = index"
        [class.active]="isActive(i)"
        (click)="navigateToReview(i)"
      ></span>
    </div>
  
      <div
        class="miniature"
        *ngFor="let review of reviews; let i = index"
        [class.active]="isActive(i)"
        (click)="navigateToReview(i)"
      >
        <img [src]="review.image" alt="{{ review.name }}" class="miniature-img" />
      </div>
  
      <!-- Right Arrow -->
      <button class="arrow right-arrow" (click)="goToNextReview()" aria-label="Previous Review">
        <img src="/icons/general/arrow-right-hover.svg" alt="Next" />
      </button>
    </div>
  </div>
  