@mixin responsive($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

.reviews-section {
    padding: 48px 32px;
    background-color: var(--primary-color);
    color: var(--text-color);
    min-height: 80vh;
    max-width: 1921px;
    margin: 0 auto;
    overflow: hidden;

    /* Mobile Ansicht - bis 320px */
    @include responsive(240px, 320px) {
      padding: 16px 8px;
      background-size: contain; /* Verhindert abgeschnittene Bereiche */
    }

    /* Mobile Ansicht - bis 480px */
    @include responsive(321px, 480px) {
      padding: 20px 12px;
      background-size: contain; /* Verhindert abgeschnittene Bereiche */
    }

    /* Mobile Ansicht - bis 767px */
    @include responsive(481px, 767px) {
      padding: 24px 16px;
      background-size: contain; /* Verhindert abgeschnittene Bereiche */
    }

    /* Mobile Ansicht - bis 1024px */
    @include responsive(768px, 1024px) {
      padding: 32px 20px;
      background-size: contain; /* Verhindert abgeschnittene Bereiche */
    }

    /* Mobile Ansicht - bis 1366px */
    @include responsive(1025px, 1366px) {
      padding: 40px 24px;
      background-size: contain; /* Verhindert abgeschnittene Bereiche */
    }
  
    .section-title {
      font-family: var(--font-family);
      text-align: center;
      font-size: 32px;
      margin-bottom: 32px;
      color: var(--accent-color);

      /* Mobile Ansicht - bis 320px */
      @include responsive(240px, 320px) {
        // font-size: 24px;
        margin-bottom: 16px;
        margin-left: 16px;
        margin-right: 16px;
      }

      /* Mobile Ansicht - bis 480px */
      @include responsive(321px, 480px) {
        margin-bottom: 16px;
        margin-left: 16px;
        margin-right: 16px;
      }

      /* Mobile Ansicht - bis 767px */
      @include responsive(481px, 767px) {
        margin-bottom: 20px;
        margin-left: 16px;
        margin-right: 16px;
        padding-left: 60px;
        padding-right: 60px;
      }

      /* Mobile Ansicht - bis 1024px */
      @include responsive(768px, 1024px) {
        margin-bottom: 20px;
        margin-left: 16px;
        margin-right: 16px;
        padding-left: 60px;
        padding-right: 60px;
      }

      // /* Mobile Ansicht - bis 1366px */
      // @include responsive(1025px, 1366px) {
      //   margin-bottom: 16px;
      //   margin-left: 16px;
      //   margin-right: 16px;
      //   padding-left: 60px;
      //   padding-right: 60px;
      // }
    }
  
    .slider-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      padding: 48px 32px;

      /* Mobile Ansicht - bis 320px */
      @include responsive(240px, 320px) {
        padding: 0px 0px;
      }

      /* Mobile Ansicht - bis 480px */
      @include responsive(321px, 480px) {
        // padding: 0px 0px;
      }

      /* Mobile Ansicht - bis 767px */
      @include responsive(481px, 767px) {
        padding: 0px 0px;
      }

      /* Mobile Ansicht - bis 1024px */
      @include responsive(768px, 1024px) {
        // padding: 0px 0px;
      }

      /* Mobile Ansicht - bis 1366px */
      @include responsive(1025px, 1366px) {
        padding: 40px 0px;
      }

      // .reviews-cards.mobile {
      //   transform: translateX(calc(-103% * var(--current-index)));
      // }
  
      .reviews-cards {
        display: flex;
        // justify-content: center;
        // transition: transform 0.5s ease;
        transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
        // transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        width: 56%;

        /* Mobile Ansicht - bis 320px */
        @include responsive(240px, 320px) {
          width: 100%;
          padding: 24px 16px;
        }

        /* Mobile Ansicht - bis 480px */
        @include responsive(321px, 480px) {
          width: 90%;
          padding: 24px 16px;
        }

        /* Mobile Ansicht - bis 767px */
        @include responsive(481px, 767px) {
          width: 84%;
          // padding: 24px 8px;
        }

        /* Mobile Ansicht - bis 1024px */
        @include responsive(768px, 1024px) {
          // width: 64%;
          // padding: 24px 8px;
          width: 90%;
          // padding: 24px 8px;
        }

        /* Mobile Ansicht - bis 1366px */
        @include responsive(1025px, 1366px) {
          // width: 100%;
          // padding: 40px 24px;
          width: 80%;
          padding: 0;
        }

        .review-card-content {
          display: flex;
          flex-direction: row;

          /* Mobile Ansicht - bis 320px */
          @include responsive(240px, 320px) {
            padding: 24px 16px;
          }

          /* Mobile Ansicht - bis 480px */
          @include responsive(321px, 480px) {
            padding: 24px 16px;
          }

          /* Mobile Ansicht - bis 767px */
          @include responsive(481px, 767px) {
            padding: 24px 16px;
          }

          /* Mobile Ansicht - bis 1024px */
          @include responsive(768px, 1024px) {
            padding: 32px 20px;
          }

        }
  
        .review-card {
          flex: 0 0 90%; // Jede Karte nimmt 100% des Viewports ein
        //   opacity: 0.5; // Unscharfe Karten im Hintergrund
        //   transition: transform 0.5s ease, opacity 0.5s ease;
          transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
          transform: scale(0.8);
          padding: 32px;
          background-color: rgba(0, 255, 174, 0.1);
          border-radius: 32px;
          border: double;
          border-color: var(--accent-color);
          margin: 0 16px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
        //   transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
  
        // sieht gut aus*
        /* Mobile Ansicht - bis 320px */
        @include responsive(240px, 320px) {
          padding: 24px 16px;
          // flex: 0 0 100%;
        }  

        // sieht gut aus*
        /* Mobile Ansicht - bis 480px */ 
        @include responsive(321px, 480px) {
          // padding: 24px 16px;
          // margin: 0 20px;
          margin: 0 -12px;
          flex: 0 0 99%;
        }

        // Einiger Maßen Okay*
        /* Mobile Ansicht - bis 767px */
        @include responsive(481px, 767px) {
          padding: 24px 36px;
          // margin: 0 8px;
          margin: 0 -16px;
          flex: 0 0 94%;
        }

        // sieht gut aus*
        /* Mobile Ansicht - bis 1024px */
        @include responsive(768px, 1024px) {
          // padding: 32px 20px;
          // flex: 0 0 90%;
          // padding: 32px 20px;
          margin: 0;
          flex: 0 0 100%;
          padding: 0;
        }

        // sieht gut aus*
        /* Mobile Ansicht - bis 1366px */
        @include responsive(1025px, 1366px) {
          padding: 36px;
          margin: 0;
          flex: 0 0 92%;
          // padding: 0;
        }

          &.active {
            opacity: 1;
            transform: scale(1);
            // transform: translateX(33.325%);
            // box-shadow: 0 8px 16px rgba(0, 255, 174, 0.5);
            box-shadow: 0 12px 24px rgba(0, 255, 174, 0.4), 0px 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 2;

            /* Mobile Ansicht - bis 320px */
            @include responsive(240px, 320px) {
              max-width: fit-content;
            }

            /* Mobile Ansicht - bis 480px */
            @include responsive(321px, 480px) {
              max-width: fit-content;
            }

            /* Mobile Ansicht - bis 767px */
            @include responsive(481px, 767px) {
              max-width: fit-content;
            }

            /* Mobile Ansicht - bis 1024px */
            @include responsive(768px, 1024px) {
              max-width: fit-content;
            }
          }
  
          &.inactive {
            filter: blur(5px);
            opacity: 0.5;
            transform: scale(0.8);
            z-index: 1;
          }
  
          .profile-pic-container {
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 16px;

            /* Mobile Ansicht - bis 320px */
            @include responsive(240px, 320px) {
              // margin-bottom: 16px;
              position: absolute;
              margin-top: 8px;
            }

            /* Mobile Ansicht - bis 480px */
            @include responsive(321px, 480px) {
              // margin-bottom: 16px;
              position: absolute;
              margin-top: 12px;
            }

            /* Mobile Ansicht - bis 767px */
            @include responsive(481px, 767px) {
              // margin-bottom: 16px;
              position: absolute;
              margin-top: 16px;
            }

            /* Mobile Ansicht - bis 1024px */
            @include responsive(768px, 1024px) {
              // margin-bottom: 16px;
              position: absolute;
              margin-top: 20px;
            }
  
            .profile-pic {
              width: 120px;
              height: 120px;
              border-radius: 50%;
              border: 4px solid var(--accent-color);
              box-shadow: 3px 5px 12px 8px rgba(18, 53, 41, 0.5);
              position: absolute;
              z-index: 2;

              /* Mobile Ansicht - bis 320px */
              @include responsive(240px, 320px) {
                width: 60px;
                height: 60px;
                top: -20px;
                left: 40px;
              }

              /* Mobile Ansicht - bis 480px */
              @include responsive(321px, 480px) {
                width: 60px;
                height: 60px;
                top: -20px;
                left: 100px;
              }

              /* Mobile Ansicht - bis 767px */
              @include responsive(481px, 767px) {
                width: 80px;
                height: 80px;
                top: -20px;
                left: 112px;
              }

              /* Mobile Ansicht - bis 1024px */
              @include responsive(768px, 1024px) {
                width: 80px;
                height: 80px;
                top: -20px;
                left: 128px;
              }

              /* Mobile Ansicht - 900 bis 1024px */
              @include responsive(900px, 1024px) {
                width: 80px;
                height: 80px;
                top: -20px;
                left: 232px;
              }

              /* Mobile Ansicht - 1366px */
              @include responsive(1025px, 1366px) {
                width: 100px;
                height: 100px;
                // top: -20px;
                // left: 232px;
              }
            }
  
            .profile-pic-background {
              position: relative;
            //   position: absolute;
              display: flex;
              justify-content: center;
            //   flex-direction: column;
              align-items: center;
              width: 160px;
              height: 160px;
              top: -20px;
              left: -20px;
              z-index: 1;
              background-image: url('/vectors/img-bg-vector.svg');
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
              // transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
              transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1), 
                  opacity 0.5s cubic-bezier(0.25, 1, 0.5, 1), 
                  filter 0.5s cubic-bezier(0.25, 1, 0.5, 1); /* Weiche Übergänge */
              opacity: 0.8;

              background: linear-gradient(
                135deg,
                var(--accent-color),
                rgba(0, 255, 174, 0.7)
              );
              top: -10px;
              left: -10px;

              /* Mobile Ansicht - bis 320px */
              @include responsive(240px, 320px) {
                transition: none;
                width: 80px;
                height: 80px;
                top: -40px;
                left: 32px;
              }

              /* Mobile Ansicht - bis 480px */
              @include responsive(321px, 480px) {
                width: 80px;
                height: 80px;
                top: -40px;
                left: 100px;
              }

              /* Mobile Ansicht - bis 767px */
              @include responsive(481px, 767px) {
                width: 100px;
                height: 100px;
                top: -40px;
                left: 120px;
              }

              /* Mobile Ansicht - bis 1024px */
              @include responsive(768px, 1024px) {
                width: 100px;
                height: 100px;
                top: -40px;
                left: 128px;
              }

              /* Mobile Ansicht - 900 bis 1024px */
              @include responsive(900px, 1024px) {
                width: 100px;
                height: 100px;
                top: -40px;
                left: 232px;
              }

              /* Mobile Ansicht - bis 1366px */
              @include responsive(1025px, 1366px) {
                width: 140px;
                height: 140px;
                // top: -40px;
                // left: 232px;
              }
            }

            &:hover {
                transform: scale(1.2); /* Leichte Vergrößerung beim Hover */
                filter: brightness(1.0); /* Heller beim Hover */
                transition: transform 0.4s ease, filter 0.4s ease;
                opacity: 1;
                transition: transform 0.3s ease-out, 
                    opacity 0.3s ease-out, 
                    filter 0.3s ease-out; /* Beschleunigter Übergang beim Hover */
              }

            /* Zurück zum ursprünglichen Zustand */
            &:not(:hover) {
                transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1), 
                    opacity 0.8s cubic-bezier(0.25, 1, 0.5, 1), 
                    filter 0.8s cubic-bezier(0.25, 1, 0.5, 1); /* Langsamer Übergang */
            }  
          }
  
          .review-text {
            margin-top: 16px;
            text-align: center;
            font-family: var(--font-family-second);
  
            blockquote {
              font-size: 16px;
              font-style: italic;

              /* Mobile Ansicht - bis 320px */
              @include responsive(240px, 320px) {
                font-size: 12px;
                max-width: 100%;
                margin-top: 72px;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                padding: 0px 0px;
              }

              /* Mobile Ansicht - bis 480px */
              @include responsive(321px, 480px) {
                font-size: 15px;
                max-width: 100%;
                margin-top: 72px;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                padding: 0px 0px;
              }

              /* Mobile Ansicht - bis 767px */
              @include responsive(481px, 767px) {
                font-size: 15px;
                max-width: 100%;
                margin-top: 104px;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                padding: 0px 0px;
              }

              /* Mobile Ansicht - bis 1024px */
              @include responsive(768px, 1024px) {
                font-size: 15px;
                max-width: 100%;
                margin-top: 104px;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                padding: 0px 0px;
              }

              /* Mobile Ansicht - bis 1366px */
              @include responsive(1025px, 1366px) {
                // font-size: 15px;
                max-width: 100%;
                // margin-top: 104px;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                padding: 0px 0px;
              }
            }
  
            .review-author {
              font-family: var(--font-family);
              margin-top: 16px;
              font-size: 16px;
              color: var(--accent-color);

              /* Mobile Ansicht - bis 320px */
              @include responsive(240px, 320px) {
                font-size: 15px;
              }
            }

            .read-more {
              font-family: var(--font-family);
              font-size: 14px;
              font-weight: 700;
              // color: var(--accent-color);
              color: #dfff00;
              cursor: pointer;
              text-decoration: none;
              padding-bottom: 16px;
            }
          }
  
          .star-rating {
            margin-top: 16px;
            display: flex;
            justify-content: center;
            // align-items: end;
  
            fa-icon {
            //   color: gold;
              color: var(--gold-color, gold);
              margin: 0 2px;
            }
          }
        }
      }
    }
  
    .miniature-navigation {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 32px;
      gap: 4px;
  
      .arrow {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        // font-size: 24px;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
  
        &:hover img {
          transform: scale(1.1);
          transition: transform 0.3s ease;
        }
      }

      .dots-navigation {
        display: none;

        /* Mobile Ansicht - bis 767px */
        @include responsive(240px, 767px) {
            display: flex;
            justify-content: center;
            gap: 8px;

            span {
                width: 12px;
                height: 12px;
                background-color: var(--accent-color);
                border-radius: 50%;
                cursor: pointer;

                &.active {
                    background-color: var(--active-color, #0ff);
                }
            }
        }
      }
  
      .miniature {
        width: 56px;
        height: 56px;
        margin: 0 8px;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid transparent;
        overflow: hidden;
        transition: transform 0.3s ease;

        /* Mobile Ansicht - bis 767px */
        @include responsive(240px, 767px) {
          display: none;
        }
  
        &.active {
          transform: scale(1.2);
          border: 2px solid var(--accent-color);
        //   box-shadow: 0 8px 16px rgba(0, 255, 174, 0.5);
          box-shadow: 0px 0px 8px 6px rgba(0, 255, 174, 0.5);
        }
  
        &:hover {
          transform: scale(1.1);
        }
  
        .miniature-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }




// Breakpoints Media Queries Responsiveness