.reviews-section {
    padding: 48px 32px;
    background-color: var(--primary-color);
    color: var(--text-color);
    min-height: 80vh;
    max-width: 1921px;
    margin: 0 auto;
    overflow: hidden;
  
    .section-title {
      font-family: var(--font-family);
      text-align: center;
      font-size: 32px;
      margin-bottom: 32px;
      color: var(--accent-color);
    }
  
    .slider-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      padding: 48px 32px;
  
      .reviews-cards {
        display: flex;
        // justify-content: center;
        transition: transform 0.5s ease;
        width: 56%;

        .review-card-content {
          display: flex;
          flex-direction: row;
        }
  
        .review-card {
          flex: 0 0 90%; // Jede Karte nimmt 100% des Viewports ein
        //   opacity: 0.5; // Unscharfe Karten im Hintergrund
          transition: transform 0.5s ease, opacity 0.5s ease;
          transform: scale(0.8);
          padding: 32px;
          background-color: rgba(0, 255, 174, 0.1);
          border-radius: 16px;
          border: double;
          border-color: var(--accent-color);
          margin: 0 16px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
        //   transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
  
          &.active {
            opacity: 1;
            transform: scale(1);
            // transform: translateX(33.325%);
            box-shadow: 0 8px 16px rgba(0, 255, 174, 0.5);
            z-index: 2;
          }
  
          &.inactive {
            filter: blur(5px);
            opacity: 0.5;
            transform: scale(0.8);
            z-index: 1;
          }
  
          .profile-pic-container {
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
  
            .profile-pic {
              width: 120px;
              height: 120px;
              border-radius: 50%;
              border: 4px solid var(--accent-color);
              position: absolute;
              z-index: 2;
            }
  
            .profile-pic-background {
              position: relative;
              display: flex;
              justify-content: center;
              flex-direction: column;
              width: 160px;
              height: 160px;
              border-radius: 50%;
              background: linear-gradient(
                135deg,
                var(--accent-color),
                rgba(0, 255, 174, 0.7)
              );
              top: -10px;
              left: -10px;
            }
          }
  
          .review-text {
            margin-top: 16px;
            text-align: center;
            font-family: var(--font-family-second);
  
            blockquote {
              font-size: 16px;
              font-style: italic;
            }
  
            .review-author {
              margin-top: 8px;
              font-size: 14px;
              color: var(--accent-color);
            }
          }
  
          .star-rating {
            margin-top: 16px;
            display: flex;
            justify-content: center;
            // align-items: end;
  
            fa-icon {
              color: gold;
              margin: 0 2px;
            }
          }
        }
      }
    }
  
    .miniature-navigation {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
  
      .arrow {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        // font-size: 24px;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
  
        &:hover img {
          transform: scale(1.1);
          transition: transform 0.3s ease;
        }
      }
  
      .miniature {
        width: 56px;
        height: 56px;
        margin: 0 8px;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid transparent;
        overflow: hidden;
        transition: transform 0.3s ease;
  
        &.active {
          transform: scale(1.2);
          border: 2px solid var(--accent-color);
        }
  
        &:hover {
          transform: scale(1.1);
        }
  
        .miniature-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  