/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #1C1C1C; /* Hauptfarbe für dunkle Hintergründe */
    --primary-color-transparent: rgba(28, 28, 28, 0.3); // Die transparente Version
    --accent-color: #00ffae; /* Akzentfarbe */
    --font-family: 'Inter', sans-serif; /* Beispiel Schriftart */
  }
  

  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: #ffffff;
  }
  

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  .hero {
    padding: 32px;
    // background-image: url('../public/bg-images/bg-hero.png');
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


// Der header-hero-container sorgt nun dafür, dass sowohl der Header als auch die Hero-Sektion das gleiche Hintergrundbild haben!
  .header-hero-container {
    background-image: url('../public/bg-images/bg-hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
  }
  
  