/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #1C1C1C; /* Hauptfarbe für dunkle Hintergründe */
    --primary-color-transparent: rgba(28, 28, 28, 0.3); // Die transparente Version
    --accent-color: #00ffae; /* Meine Akzentfarbe als alternative für das eigentliche: #3dcfb6 von der DA */ 
    --font-family: 'Karla', sans-serif; // Hauptschriftart für den Text
    --font-family-second: 'Fira Code', monospace; // Für Codeblöcke, Buttons, etc.
    --icon-primary-color: #3DCFB6; // Hauptfarbe für Technologie-Icons festgelegt.
  }
  

//   Meine Fonts
@font-face {
    font-family: 'Fira Code';
    src: url('../public/fonts/fira/static/FiraCode-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

// @font-face {
//     font-family: 'Fira Code';
//     src: url('../public/fonts/fira/static/FiraCode-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
//   }

//   @font-face {
//     font-family: 'Fira Code';
//     src: url('../public/fonts/fira/static/FiraCode-Bold.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
//   }
  
@font-face {
    font-family: 'Karla';
    src: url('../public/fonts/karla/static/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Karla';
    src: url('../public/fonts/karla/static/Karla-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  

  body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: #ffffff;

    // Ich habe das mit den background-images max-width außerhalb des Contents das auf 1921px begrenzt ist, noch nicht gefixxt!
    // display: flex;
    // justify-content: center;
  }


  // Allgemeiner Container für eine einheitlichene Content begrenzung*
  .container {
    max-width: 1921px;
    margin: 0 auto; // Zentriert den Inhalt horizontal im Viewport
    padding: 0 32px; // Fügt 32px Padding links und rechts zum Container hinzu
  }
  

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  .hero {
    padding: 16px;
    // background-image: url('../public/bg-images/bg-hero.png');
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


// Der header-hero-container sorgt nun dafür, dass sowohl der Header als auch die Hero-Sektion das gleiche Hintergrundbild haben!
  .header-hero-container {
    background-image: url('../public/bg-images/bg-hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
  }


  .cursor-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
    background: radial-gradient(circle, rgba(0, 255, 174, 0.3) 0%, rgba(0, 255, 174, 0) 60%);
    // background: rgba(0, 255, 174, 0.5); /* Grüne Akzentfarbe mit Transparenz */
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease, opacity 0.3s ease;
    z-index: 2000;
  }
  