.developer-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 32px; // padding bis 64px 32px herunterschrauben von Desktop zu Mobile Ansicht
    background-color: var(--primary-color);
    // min-height: 80vh;
    // max-width: max-content;
    max-width: 1921px;
    margin: 0 auto;
    overflow: hidden;

    /* Hintergrundbild für die gesamte Sektion */
    background-image: url('/bg-images/bg-skills.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .developer-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 255, 174, 0.3); /* Transparente Überlagerung */
    z-index: -1;
  }  
  
  .developer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: normal;
    // align-items: flex-start;
    padding: 64px 96px;
    gap: 64px;
  }

  .developer-headline {
    // display: flex;
    padding-left: 96px;
    margin-bottom: -72px;
  }
  
  .developer-title {
    font-family: var(--font-family-second);
    font-size: 24px;
    color: var(--accent-color);
    // margin-bottom: 16px;
    text-align: left; /* Ausrichtung passend zur Skill-Box */
  }  

  .skill-box {
    // flex: 1 1 45%;
    flex: 1 1 35%;
    background-color: rgba(0, 255, 174, 0.1);
    border: 2px solid var(--accent-color);
    border-radius: 32px;
    padding: 32px;
    box-shadow: 0 8px 20px rgba(0, 255, 174, 0.2);
  }
  
  .skill-box h2 {
    font-family: var(--font-family);
    font-size: 64px;
    color: var(--accent-color);
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  .skill-box p {
    font-family: var(--font-family-second);
    font-size: 18px;
    line-height: 1.6;
    color: #ffffff;
  }
  
  .skill-box h3 {
    font-family: var(--font-family);
    font-size: 24px;
    letter-spacing: 4px;
    // line-height: 1.6;
  }

  .skill-box .highlight span {
    // font-family: var(--font-family);
    color: var(--accent-color);
    // letter-spacing: 4px;
    // line-height: 1.6;
  }

//   .skill-box .highlight span {
//     color: var(--accent-color);
//   }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    flex: 1 1 45%;
  }

.icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;

  .vector-background {
    // background-color: tomato;
    position: absolute;
    top: 0px;
    left: 10px;
    right: 10px;
    bottom: 0px;
    background-image: url('/vectors/img-bg-vector.svg'); /* Pfad zur Vektor-Grafik */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%; /* Random Inverted Corners als stylische Abrundung */
    opacity: 0; /* Standard ist unsichtbar */
    z-index: 0;
    transition: opacity 0.3s ease-in-out;
  }

  img {
    width: 64px;
    height: 64px;
    transition: transform 0.3s ease-in-out;
    z-index: 1; /* Damit das Icon über dem Vektor bleibt */
  }

  span {
    margin-top: 8px;
    font-family: var(--font-family-second);
    font-size: 15px;
    color: #ffffff;
    z-index: 1; /* Text über dem Hintergrund */
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--accent-color);
    }
  }

  &:hover {
    .vector-background {
      opacity: 0.7; /* Hintergrund wird beim Hover sichtbar und halbtransparent */
      
    }
    img {
      transform: scale(1.1); /* Leichtes Vergrößern des Icons */
    }
  }

  // Infobox Area
  .infobox {
    position: absolute;
    top: -130%; // Zentrierte Position über dem Icon
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    // background-color: rgba(0, 255, 174, 0.2);
    background-color: rgba(13, 46, 35, 0.2);
    backdrop-filter: blur(10px); /* Blur-Effekt */
    border: 2px solid var(--accent-color);
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 8px 20px rgba(0, 255, 174, 0.2);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &.visible {
      opacity: 1;
      visibility: visible;
    }

    h3 {
      font-family: var(--font-family);
      font-size: 18px;
      color: var(--accent-color);
      margin-bottom: 8px;
    }

    p {
      font-family: var(--font-family-second);
      font-size: 14px;
      color: #ffffff;
      margin-bottom: 16px;
    }

    .infobox-icons {
      display: flex;
      justify-content: center;
      gap: 8px;

      img {
        width: 32px;
        height: 32px;
        border-radius: 8px;
      }
    }

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }

  // &.active .infobox {
  //   opacity: 1;
  //   visibility: visible;
  // }
}

// /* Mobile Anpassung */
// @media (max-width: 767px) {
//   .infobox {
//     top: -150%;
//     width: 90%; // Anpassung für kleinere Geräte
//   }
// }

//  Infobox Area Ende

//   .hover-box {
//     position: absolute;
//     background: rgba(0, 255, 174, 0.8);
//     color: #ffffff;
//     padding: 8px 16px;
//     border-radius: 8px;
//     font-size: 14px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
//     transform: translateY(-120%);
//     transition: opacity 0.3s ease-in-out;
//   }
  

/* Media Queries für verschiedene Bildschirmgrößen */

/* Mobile Ansicht - bis 320px */
@media (min-width: 240px) and (max-width: 320px) {
  .developer-section {
    padding: 16px 8px; /* Weniger Padding für kleine Geräte */
    background-size: contain; /* Verhindert abgeschnittene Bereiche */

    .infobox {
    top: -80%;
    width: 90%;
    }
  }

  .developer-content {
    flex-direction: column-reverse;
    padding: 24px 16px;
    gap: 16px; /* Weniger Abstand zwischen den Elementen */
  }

  .developer-headline {
    padding-left: 0px;
    margin-bottom: -24px;
  
  .developer-title {
    font-family: var(--font-family-second);
    font-size: 18px;
    color: var(--accent-color);
    // margin-bottom: 16px;
    padding-left: 0;
    text-align: center;
    }
  } 

  .skills-grid {
    grid-template-columns: repeat(2, 1fr); /* Zwei Spalten für Icons */
    gap: 16px;
  }

  .skill-box {
    padding: 24px 16px;
    margin-top: 8px;
  }

  .skill-box h2 {
    font-size: 32px; /* Kleinere Schriftgröße */
    text-align: center;
  }

  .skill-box p {
    font-size: 14px;
    text-align: center;
  }

  .skill-box h3 {
    font-size: 28px;
    text-align: center;
  }

  .icon img {
    height: 56px;
    width: 56px;
  }

  // .developer-title {
  //   font-size: 16px;
  //   padding-left: 0;
  //   text-align: center; /* Zentrierter Titel für kleine Bildschirme */
  // }
}

/* Mobile Ansicht - bis 480px */
@media (min-width: 321px) and (max-width: 480px) {
  .developer-section {
    padding: 16px 8px;
    background-size: contain; /* Verhindert abgeschnittene Bereiche */

    .infobox {
      top: -90%;
      width: 90%;
    }
  }

  .developer-content {
    flex-direction: column-reverse;
    padding: 32px 16px;
    gap: 24px;
  }

  .developer-headline {
    padding-left: 0px;
    margin-bottom: -24px;
  
  .developer-title {
    font-family: var(--font-family-second);
    font-size: 18px;
    color: var(--accent-color);
    // margin-bottom: 16px;
    padding-left: 0;
    text-align: center;
    }
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr); /* Zwei Spalten */
    gap: 24px;
  }

  .skill-box {
    // padding: 32px 16px;
    margin-top: 8px;
  }

  .skill-box h2 {
    font-size: 32px;
    text-align: center;
  }

  .skill-box p {
    font-size: 16px;
    text-align: center;
  }

  .skill-box h3 {
    text-align: center;
  }

  .highlight span {
    display: flex;
    flex-direction: column;
  }

  .icon img {
    height: 56px;
    width: 56px;
  }

}

/* Tablet Ansicht - 481px bis 767px */
@media (min-width: 481px) and (max-width: 767px) {
  .developer-section {
    padding: 40px 24px;

    .infobox {
      top: -100%;
      width: 90%;
    }
  }

  .developer-content {
    flex-direction: column-reverse;
    padding: 40px 24px;
    gap: 32px;
  }
  
  .developer-headline {
    padding-left: 0px;
    margin-bottom: -24px;
  
  .developer-title {
    font-family: var(--font-family-second);
    font-size: 20px;
    color: var(--accent-color);
    // margin-bottom: 16px;
    padding-left: 0;
    text-align: center;
    }
  }

  .skills-grid {
    grid-template-columns: repeat(3, 1fr); /* Drei Spalten */
    gap: 24px;
  }

  .skill-box {
    // padding: 32px 16px;
    margin-top: 8px;
  }

  .skill-box h2 {
    font-size: 40px;
    text-align: center;
  }

  .skill-box h3 {
    text-align: center;
  }

  .skill-box p {
    font-size: 16px;
    text-align: center;
  }

  .highlight span {
    display: flex;
    flex-direction: column;
  }

  .icon img {
    height: 56px;
    width: 56px;
  }

}

/* Big-Tablet Ansicht - 768px bis 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .developer-section {
    padding: 64px 32px;

    .infobox {
      top: -120%;
      width: 90%;
    }
  }

  .developer-content {
    flex-wrap: wrap;
    // justify-content: center;
    padding: 40px 24px;
    flex-direction: column-reverse;
    gap: 32px;
  }

  .developer-headline {
    padding-left: 0px;
    margin-bottom: -24px;
  
  .developer-title {
    font-family: var(--font-family-second);
    // font-size: 20px;
    color: var(--accent-color);
    // margin-bottom: 16px;
    padding-left: 0;
    text-align: center;
    }
  }

  .skills-grid {
    grid-template-columns: repeat(4, 1fr); /* Vier Spalten */
    gap: 32px;
  }

  .skill-box {
    // padding: 32px 16px;
    margin-top: 8px;
  }

  .skill-box h2 {
    font-size: 48px;
    text-align: center;
  }

  .skill-box h3 {
    text-align: center;
  }

  .skill-box p {
    font-size: 17px;
    text-align: center;
  }

  // .highlight span {
  //   display: flex;
  //   flex-direction: column;
  // }

  .icon img {
    height: 56px;
    width: 56px;
  }

}

/* Big-Tablet oder Mini-Laptop Ansicht - 1025px bis 1366px */
@media (min-width: 1025px) and (max-width: 1366px) {
  .developer-section {
    padding: 64px 32px;
  }

  .developer-content {
    flex-wrap: wrap;
    // justify-content: center;
    padding: 40px 24px;
    flex-direction: column-reverse;
    gap: 48px;
  }

  .developer-headline {
    padding-left: 0px;
    margin-bottom: -24px;
  
  .developer-title {
    font-family: var(--font-family-second);
    // font-size: 20px;
    color: var(--accent-color);
    // margin-bottom: 16px;
    padding-left: 0;
    text-align: center;
    }
  }

  .skills-grid {
    grid-template-columns: repeat(4, 1fr); /* Vier Spalten */
    gap: 32px;
  }

  .skill-box {
    // padding: 32px 16px;
    margin-top: 8px;
  }

  .skill-box h2 {
    font-size: 56px;
    text-align: center;
  }

  .skill-box h3 {
    text-align: center;
  }

  .skill-box p {
    font-size: 18px;
    text-align: center;
  }

  // .developer-title {
  //   font-size: 28px;
  //   text-align: left;
  //   padding-left: 40px;
  // }

}

