<div class="developer-section">
  <!-- Hintergrundbild kommt hier -->
  <div class="background-overlay"></div>

  <!-- Überschrift über der Skill-Box -->
  <div class="developer-headline">
    <h4 class="developer-title">{{'skills.developer.h4' | translate}}</h4>
  </div>

  <div class="developer-content">
    <!-- Skill Box -->
    <div class="skill-box">
      <h2>{{'skills.developer.h2' | translate}}</h2>
      <p>
        {{'skills.developer.description' | translate}}
      </p>
      <p>
        {{'skills.developer.description-2' | translate}}
      </p>
      <h3 class="highlight">
        <strong>{{'skills.developer.h3.text-1' | translate}}<span>{{'skills.developer.h3.text-2' | translate}}</span></strong>
      </h3>
      <p>
        {{'skills.developer.sub-description' | translate}}
      </p>
      <p>
        {{'skills.developer.sub-description-2' | translate}}
      </p>
      <!-- Button Component -->
      <app-button type="button" buttonClass="default-button" (click)="navigateTo('contact')">
        {{'skills.developer.cta' | translate}}
      </app-button>
    </div>

    <!-- Grid mit Icons -->
    <div class="skills-grid">
      <div 
      class="icon" 
      *ngFor="let skill of skills" 
      (mouseenter)="showHover(skill)" 
      (mouseleave)="hideHover(skill)"
      (click)="toggleInfobox(skill)"
      >

      <div class="vector-background"></div>
      <img [src]="skill.icon" [alt]="skill.name" />
      <!-- <span>{{ skill.name }}</span> -->
      <span [ngClass]="{ 'hovered': skill.isHovered }">{{ skill.name }}</span>

      <!-- <div class="hover-box" *ngIf="skill.isHovered"> -->
      <!-- Hovered: {{ skill.name }} -->

          <!-- Infobox -->
          <div class="infobox" [class.visible]="skill.isHovered || skill.isInfoboxVisible">
            <h3>{{ skill.infoboxTitle }}</h3>
            <p>{{ skill.infoboxDescription }}</p>
            <div class="infobox-icons">
              <img *ngFor="let subIcon of skill.infoboxIcons" [src]="subIcon.src" [alt]="subIcon.alt" />
            </div>
          </div>
        </div>
      </div>
    </div>    
</div>

