<footer class="footer">
    <!-- Background Video (Bonus) -->
    <video class="footer-background-video" autoplay muted loop playsinline>
      <source src="/videos/space-dark-min.mp4" type="video/mp4">
      Oh! Your browser does not support the video tag.
    </video>
    <!-- Overlay to darken the video background -->
    <div class="footer-overlay"></div>
    
    <!-- Top Container -->
    <div class="footer-top">
      <!-- Linke Spalte (30%) -->
      <div class="footer-top-left animate-slide-left">
        <!-- Logo with Hover-Effekt -->
        <div class="footer-logo" (click)="navigateTo('hero')">
          <img 
            [src]="logoHover ? config.top.logoHover : config.top.logoDefault" 
            alt="Footer Logo" 
            (mouseenter)="logoHover = true" 
            (mouseleave)="logoHover = false">
        </div>

        <!-- Persönliche Message -->
        <div class="footer-personal-message">
          <p>{{ 'footer.personalMessage' | translate }} 
            <span class="heart-icon" aria-label="heart">❤️</span></p>
        </div>

        <!-- Siegel-Icons (3-spaltig) -->
        <div class="footer-seals">
          <div class="seal" *ngFor="let seal of config.top.sealIcons let i = index" id="seal-{{ i }}">
            <img [src]="seal" alt="Seal Icon">
          </div>
        </div>

      </div>

      <!-- Rechte Spalte (70%) -->
      <div class="footer-top-right animate-slide-right">
        <!-- Fundraising-Kampagne -->
        <div class="fundraising-campaign">

          <!-- Linker Bereich: Bild + Button (30% innerhalb der Kampagne) -->
          <div class="fundraising-image">
            <img [src]="config.top.fundraising.image" alt="Fundraising Image">
              <app-button
                (click)="redirectToExternalSite(config.top.fundraising.buttonLink)" 
                type="button" 
                buttonClass="default-button"
                [disabled]="false" 
                [attr.aria-label]="'footer.fundraising.buttonText' | translate">
                {{ 'footer.fundraising.buttonText' | translate }}
              </app-button>
          </div>

          <!-- Rechter Bereich: Texte (70% innerhalb der Kampagne) -->
          <div class="fundraising-content">
            <h2>{{ 'footer.fundraising.h2' | translate }}</h2>
            <h3>{{ 'footer.fundraising.h3' | translate }}</h3>
            <p>{{ 'footer.fundraising.p' | translate }}</p>
            <p>{{ 'footer.fundraising.p-core' | translate }}</p>
            <!-- <p>{{ 'footer.fundraising.p-2' | translate }}</p>
            <p>{{ 'footer.fundraising.p-3' | translate }}</p> -->
            <span>{{ 'footer.fundraising.span' | translate }}</span>
          </div>

        </div>
      </div>
    </div>
    
    <!-- Middle Container -->
    <div class="footer-middle">
      <div class="footer-middle-left slide-in-left">
        <!-- <h3>Superhero Skills</h3> -->
        <h3>{{ 'footer.middle.skillsTitle' | translate }}</h3>
        <ul>
          <li *ngFor="let skill of config.middle.superheroSkills">
            <a (click)="navigateTo(skill.link)" [attr.aria-label]="skill.text">
              <!-- {{ skill.text }} -->
              {{ ('footer.middle.skills.' + skill.text.toLowerCase()) | translate }}
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-middle-inner-left slide-in-right">
        <div class="creative-locations">
          <!-- <h3>Creative Locations</h3> -->
          <h3>{{ 'footer.middle.locationsTitle' | translate }}</h3>
          <ul>
            <li *ngFor="let loc of config.middle.creativeLocations">
              <img [src]="loc.icon" alt="{{ loc.text }} Icon">
              <a [href]="loc.link" target="_blank" [attr.aria-label]="loc.text">
                <!-- {{ loc.text }} -->
                {{ ('footer.middle.locations.' + loc.text.toLowerCase()) | translate }}
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-middle-inner-right slide-in-left">
        <div class="follow-me">
            <!-- <h3>Follow Me On</h3> -->
            <h3>{{ 'footer.middle.followTitle' | translate }}</h3>
            <ul>
              <li *ngFor="let social of config.middle.followMeOn">
                <img [src]="social.icon" alt="{{ social.text }} Icon">
                <a [href]="social.link" target="_blank" [attr.aria-label]="social.text">{{ social.text }}</a>
              </li>
            </ul>
          </div>
      </div>

      <div class="footer-middle-right slide-in-right">
        <div class="contact-me">
            <!-- <h3>Contact Me</h3> -->
            <h3>{{ 'footer.middle.contactTitle' | translate }}</h3>
            <ul>
              <li>
                <img [src]="config.middle.contactMe.emailIcon" alt="Email Icon">
                <a [href]="'mailto:' + config.middle.contactMe.emailAddress" aria-label="Email">{{ config.middle.contactMe.emailAddress }}</a>
              </li>
              <li>
                <img [src]="config.middle.contactMe.contactRequestIcon" alt="Contact Request Icon">
                <a (click)="navigateTo(config.middle.contactMe.buttonLink)" [attr.aria-label]="config.middle.contactMe.contactRequestText">
                  {{ 'footer.middle.contactRequestText' | translate }}</a>
              </li>
              <li>
                <app-button (click)="navigateTo(config.middle.contactMe.buttonLink)"
                  type="button" 
                  buttonClass="contact-button"
                  [disabled]="false" 
                  [attr.aria-label]="'footer.middle.contactButtonText' | translate">
                  {{ 'footer.middle.contactButtonText' | translate }}
                </app-button>
              </li>              
            </ul>
          </div>
      </div>
    </div>
    
    <!-- Bottom Container -->
    <div class="footer-bottom">
      <div class="footer-bottom-left">
        <img [src]="config.bottom.copyrightIcon" alt="Copyright">
        <span>{{ config.bottom.copyrightText }}</span>
      </div>

      <div class="footer-bottom-center">
        <span>{{ 'footer.bottom.madeBy' | translate }} <span class="heart-icon" aria-label="heart">💚</span></span>
      </div>

      <div class="footer-bottom-right">
        <div class="legal-notice">

          <!-- <a [href]="config.bottom.legalNoticeLink" target="_blank" aria-label="Legal Notice">{{ 'footer.bottom.legalNotice' | translate }}</a> -->
          <!-- <a
          role="button"
          tabindex="0"
          (click)="scrollService.showLegal('legal')"
          aria-label="Legal Notice"
          >{{ 'footer.bottom.legalNotice' | translate }}</a
          >  -->

          <a
            class="footer-link"
            href="#impressum"
            (click)="scrollService.showLegal('legal'); $event.preventDefault()"
            aria-label="Legal Notice"
          >
            {{ 'footer.bottom.legalNotice' | translate }}
          </a>
        </div>
        
        <div class="privacy-policy">
          <!-- <a [href]="config.bottom.privacyPolicyLink" target="_blank" aria-label="Privacy Policy">{{ 'footer.bottom.privacyPolicy' | translate }}</a> -->
          <!-- <a
          role="button"
          tabindex="0"
          (click)="scrollService.showLegal('privacy')"
          aria-label="Privacy Policy"
          >{{ 'footer.bottom.privacyPolicy' | translate }}</a
          > -->

          <a
            class="footer-link"
            href="#datenschutz"
            (click)="scrollService.showLegal('privacy'); $event.preventDefault()"
            aria-label="Privacy Policy"
          >
            {{ 'footer.bottom.privacyPolicy' | translate }}
          </a>
        </div>

      </div>
    </div>
  </footer>  
